/* GLOBAL CHANGES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bigelow Rules', serif;
    font-family: 'Grenze', serif;
}
:root {
    --black-background: #141414;
    --black-pure: #000;
    --white: #fefefe;
    --red: #bd2929;
    --red-soft : #861f1f;

    --font-title: 'Bigelow Rules', serif;
    --font-paragraph: 'Grenze', serif;

    --fontSize-megaTitle: 10rem;
    --fontSize-title: 7rem;
    --fontSize-subTitle: 4rem;
    --fontSize-paragraph: 2.5rem;
}
.ytp-impression-link {
    display: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* body::-webkit-scrollbar, 
.container_galery::-webkit-scrollbar {
    width: 10px;
    display: inline-block;
    background-color: var(--red);
    scroll-padding: 2em;
}
body::-webkit-scrollbar-thumb,
.container_galery::-webkit-scrollbar-thumb{
    background-color: var(--white);
    
    scroll-padding: 2em;
} */

/* body::-webkit-scrollbar-button {
    height: 10px;
    background-repeat: no-repeat;   
    background-size: 80%;
    background-position: center;
    background-image: url('/assets/Icons/Down.webp');
} */

a {
    text-decoration: none;
}


@media (max-width: 1380px) {
    :root {
        --fontSize-megaTitle: 7rem;
        --fontSize-title: 5rem;
        --fontSize-subTitle: 3rem;
        --fontSize-paragraph: 2.2rem;
    }
}


