
/* HEADER INDEX */
#header-index {
    z-index: 12;
    width: 100%;
    height: auto;
    position: fixed;
}
#header-index nav {
    display: flex;
    justify-content: space-between;
    height: auto;
}
/* Logo */
#header-index nav .nav_logo-container {
    width: auto;
    height: 70px;
    margin-left: 3%;
    display: flex;
    align-items: end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #bd2929;
    backdrop-filter: blur(5px);
    transition: ease .5s;
}
#header-index nav .nav_logo-container:hover {
    height: 100px;
}
#header-index nav .nav_logo-container img {
    width: 35px;
    margin: 5px 12px;
}
/* Menu */
#header-index nav .header_menu {
    width: auto;
    padding: 5px 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    background-color: #141414ed;
    backdrop-filter: blur(2px);
}
#header-index nav .header_menu a {
    width: 120px;
    height: 40px;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 1.9rem;
    transition: ease-in .2s;
}
#header-index nav .header_menu a:hover {
    background-color: #d6d6d618;
}

/* HEADER Ilustraciones*/
#header-ilustraciones {
    z-index: 10;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--black-background);
}
#header-ilustraciones nav {
    width: 100%;
    height: 100%;
}
/* Logo */
#header-ilustraciones nav .nav_logo-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-ilustraciones nav .nav_logo-container span {
    display: none;
}
#header-ilustraciones nav .nav_logo-container img {
    width: 270px;
    border-radius: 10px;
    transition: ease .2s;
}
/* Menu */
#header-ilustraciones nav .header_menu {
    width: 100%;
    height: 60px;
}
#header-ilustraciones nav .header_menu .menu_list {
    width: 270px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--white);
    overflow: hidden;
}
#header-ilustraciones nav .header_menu .menu_list li {
    list-style: none;
}
#header-ilustraciones nav .header_menu .menu_list li a {
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-background);
    font-size: 2.1rem;
    text-align: center;
}
#header-ilustraciones nav .header_menu .menu_list li a:hover {
    color: var(--white);
    background-color: var(--red);
}
#header-ilustraciones .header_subMenu {
    width: 100%;
    height: 100vh;
    margin: 50px 0 0 45px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#header-ilustraciones .header_subMenu a {
    padding: 15px 0 0;
    cursor: pointer;
    color: white;
    font-size: var(--fontSize-paragraph);
    font-weight: 300;
    border-bottom: 2px solid transparent;
    transition: linear .1s;
}
#header-ilustraciones .header_subMenu a:hover {
    border-bottom: 2px solid var(--red);
}
#header-ilustraciones .header_subMenu a.active {
    border-bottom: 2px solid var(--white);
}

/* HEADER VIDEOS*/
#header-videos {
    z-index: 12;
    width: 100%;
    height: auto;
    position: fixed;
}
#header-videos nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
/* Logo */
#header-videos nav .nav_logo-container {
    margin-left: 3%;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
    background-color: #e98c2f;
}
#header-videos nav .nav_logo-container img {
    width: 35px;
    transition: ease .5s;
}
#header-videos nav .nav_logo-container img:hover {
    transform: scale(1.1);
}
/* Menu */
#header-videos nav .header_menu {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #0e0e0e;
    border-bottom-left-radius: 10px;
}
#header-videos nav .header_menu .menu_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#header-videos nav .header_menu .menu_list li {
    width: auto;
    height: auto;
    list-style: none;
}
#header-videos nav .header_menu .menu_list li a {
    width: 100%;
    padding: 15px 5px 1px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
#header-videos nav .header_menu .menu_list li a:hover {
    border-bottom: 2px solid white;
}

@media (max-width: 700px) {
    /* INDEX */
    #header-index nav .header_menu {
        display: none;
    }
    /* VIDEOS */
    #header-videos {
        width: 100%;
        height: 120px;
    }
    #header-videos nav {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
    }
    #header-videos nav .nav_logo-container {
        width: 70px;
        height: 50px;
        margin: 0 auto;
        grid-area: 2/1;
    }
    #header-videos nav .header_menu .menu_list li a {
        font-size: 1.5rem;
        padding: 10px 5px 1px;
    }
    #header-videos nav .header_menu {
        width: 100vw;
        border-radius: 0;
        height: auto;
        border-bottom: 5px solid #e98c2f;
    }
    #header-videos nav .header_menu .menu_list {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    #ilustration_section1, #ilustration_section2, #ilustration_section3, #ilustration_section4, #ilustration_section5, #ilustration_section5 {
        padding-top: 100px;
    }
    #header-ilustraciones {
        width: 100%;
        height: 120px;
        background-color: rgba(0, 0, 0, 0);
    }
    #header-ilustraciones nav {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
    }   
    #header-ilustraciones nav .nav_logo-container {
        z-index: 2;
        width: 70px;
        height: 70px;
        margin: 0 auto;
        border-radius: 0 0 10px 10px;
        grid-area: 2/1;
        background-color: var(--red);
    }
    #header-ilustraciones nav .nav_logo-container img {
        display: none;
    }
    #header-ilustraciones nav .nav_logo-container span {
        display: block;
        font-size: 3rem;
        cursor: pointer;
    }
    #header-ilustraciones nav .header_menu {
        z-index: 3;
        position: relative;
        width: 100%;
        height: auto;
        border-bottom: 5px solid var(--red);
    }
    #header-ilustraciones nav .header_menu .menu_list {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 0;
        background-color: var(--black-background);
    }
    #header-ilustraciones nav .header_menu .menu_list li a {
        z-index: 3;
        color: var(--white);
        width: 33vw;
    }
    #header-ilustraciones .header_subMenu {
        display: none;
        z-index: 1;
        position: absolute;
        top: 60px;
        margin: 0;
        padding: 10% 5%;
        align-items: center;
        background-color: var(--black-background);
        width: 100vw;
        height: 100vh;
    }
}
