
/* HEADER INDEX */
#header-index {
    z-index: 12;
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    right: 0;
}
#header-index nav {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    justify-content: space-between;
    align-items: end;

}

/* Logo */
#header-index nav .nav_logo-container {
    z-index: 2;
    width: 90px;
    height: auto;
    display: flex;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 30px;
    background-color: var(--red);
    transition: ease .5s;
}
#header-index nav .nav_logo-container:hover {
    width: 120px;
}
#header-index nav .nav_logo-container a {
    width: 100%;
    display: flex;
    justify-content: start;

}
#header-index nav .nav_logo-container img {
    width: 35px;
    margin: 12px 12px;
    object-fit: contain;
}
/* Menu */
#header-index nav .header_menu {
    z-index: 2;
    width: 85px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
#header-index nav .header_menu .icon-container {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: solid var(--white) 2px;
    transition: ease-in-out .2s;
    &:hover {
        background-color: var(--white);
    }
    &:active {
        transition: ease-in-out .0s;
        transform: translateX(-5px);
        filter: drop-shadow(10px 0px 0 var(--red));
    }
}
#header-index nav .header_menu .icon-container a {
    width: 100%;
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;
    border-radius: 10px;
    color: white;
    font-size: 3rem;
    font-family: var(--font-title);
    transition: ease-in-out .2s;
}
#header-index nav .header_menu .icon-container a:hover {
    color: var(--black-background);
    font-weight: bold;
}

/* HEADER Ilustraciones*/

/* MOVIL */
#header-ilustraciones-movil {
    display: none;
}

/* DESKTOP */
#header-ilustraciones {
    z-index: 10;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--black-background);
}
#header-ilustraciones nav {
    width: 100%;
    height: 100%;
}
/* Logo */
#header-ilustraciones nav .nav_logo-container {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-ilustraciones nav .nav_logo-container img {
    width: 240px;
    border-radius: 10px;
}
/* Menu */
#header-ilustraciones .header_subMenu {
    width: 100%;
    height: 100vh;
    padding: 0 29px 0 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#header-ilustraciones .header_subMenu div{
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    gap: 10px;
}

#header-ilustraciones .header_subMenu div img {
    width: 30px;
    padding: 15px 0 0;
    transition: ease-in-out .2s;
}
#header-ilustraciones .header_subMenu div img:hover {
    transform: scale(1.3);
    cursor: pointer;
    filter: drop-shadow(4px 0px 0 var(--red));
}

#header-ilustraciones .header_subMenu div a {
    padding: 15px 0 0;
    cursor: pointer;
    color: white;
    font-size: 4rem;
    font-family: var(--font-title);
    border-bottom: 3px solid transparent;
    transition: ease-in .3s;
}
#header-ilustraciones .header_subMenu div a:hover {
    border-bottom: 3px solid var(--red);
}
#header-ilustraciones .header_subMenu div a.active {
    border-bottom: 3px solid var(--white);
}

/* HEADER VIDEOS*/
#header-videos {
    z-index: 12;
    width: 100%;
    height: auto;
    position: fixed;
}
#header-videos nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}
/* Logo */
#header-videos nav .nav_logo-container {
    margin-left: 3%;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
    background-color: #e98c2f;
}
#header-videos nav .nav_logo-container img {
    width: 35px;
    transition: ease .5s;
}
#header-videos nav .nav_logo-container img:hover {
    transform: scale(1.1);
}
/* Menu */
#header-videos nav .header_menu {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    background-color: #0e0e0e;
    border-bottom-left-radius: 10px;
}
#header-videos nav .header_menu .menu_list {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#header-videos nav .header_menu .menu_list li {
    width: auto;
    height: auto;
    list-style: none;
}
#header-videos nav .header_menu .menu_list li a {
    width: 100%;
    padding: 15px 5px 1px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
#header-videos nav .header_menu .menu_list li a:hover {
    border-bottom: 2px solid white;
}

@media (max-width: 700px) {
    /* INDEX */
    #header-index nav .header_menu {
        display: none;
    }
    /* VIDEOS */
    #header-videos {
        width: 100%;
        height: 120px;
    }
    #header-videos nav {
        display: grid;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: 100%;
    }
    #header-videos nav .nav_logo-container {
        width: 70px;
        height: 50px;
        margin: 0 auto;
        grid-area: 2/1;
    }
    #header-videos nav .header_menu .menu_list li a {
        font-size: 1.5rem;
        padding: 10px 5px 1px;
    }
    #header-videos nav .header_menu {
        width: 100vw;
        border-radius: 0;
        height: auto;
        border-bottom: 5px solid #e98c2f;
    }
    #header-videos nav .header_menu .menu_list {
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1200px) {
    /* ILUSTRACIONES */
    #header-ilustraciones {
        display: none;
    }

    #header-ilustraciones-movil {
        z-index: 10;
        position: fixed;
        display:  block;
        flex-direction: row;
        bottom: 0;
        width: 100%;
        height: auto;

        nav {
            width: 96%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 2%;
            border-radius: 6px;
            background-color: var(--black-background);

            .nav_logo-container-movil {
                width: 80px;
                height: 80px;
                position: absolute;
                bottom: 20%;
                left: 0;
                right: 0;
                margin: 0 auto;
                object-fit: cover;
                background-color: var(--red);
                padding: 10px;
                border-radius: 50%;
                border: var(--black-background) solid 10px;
    
                img {
                    width: 100%;
                }
            }

            .header_subMenu-movil {
                width: 50%;
                display: flex;
                justify-content: space-evenly;

                a {
                    display: block;
                    color: var(--white);
                    font-family: var(--font-paragraph);
                    font-size: var(--fontSize-paragraph);
                    width: 45px;
                    height: 45px;
                    object-fit: contain;

                    img {
                        width: 100%;
                        transition: ease-in-out .2s;

                        &:hover {
                            transform: scale(1.2);
                            cursor: pointer;
                            filter: drop-shadow(4px 0px 0 var(--red));
                        }
                    }
                }
            }

            .sub1 {
                
                padding-right: 30px;
            }

            .sub2 {
                padding-left: 30px;

                
            }

            
        }

    }

    
}

@media (width <= 800px) {
    #header-index { 
        display: none;
    }

}