/* HEADER INDEX */
#header-index {
    z-index: 10;
    width: 100%;
    height: auto;
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
/* HEADER NAV INDEX */ 
#header-index nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 50px;
    backdrop-filter: blur(5px);
    background-color: #131313d8;
}
/* Logo */
#header-index nav .nav_logo-container {
    display: flex;
    place-content: center;
    place-items: center;
}
#header-index nav .nav_logo-container img {
    width: 35px;
}
/* Menu */
#header-index nav .header_menu {
    width: auto;
    height: 50px;
}
#header-index nav .header_menu .menu_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#header-index nav .header_menu .menu_list li {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 33%;
    height: 50px;
}
#header-index nav .header_menu .menu_list li a {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    color: white;
    text-align: center;
}
#header-index nav .header_menu .menu_list li a:hover {
    background-color: white;
    color: black;
}
/* boton */
/* REDES SOCIALES INDEX*/
#header-index .header_icons-container { 
    width: 100%;
    height: 35px;
    display: grid;
    min-width: 320px;
    backdrop-filter: blur(5px);
    background-color: #131313d8;
}
#header-index .header_icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}
#header-index .header_icons-container .icons a img {
    width: 25px;
    margin-top: 5px;
    transition: transform 250ms;
}
#header-index .header_icons-container .icons a img:hover {
    transform: scale(1.5);
    transition: transform 250ms;
    
}

/* HEADER FIJO*/
#header-fijo {
    z-index: 10;
    width: 100%;
    height: auto;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
}
/* REDES SOCIALES FIJO*/
#header-fijo nav {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 50px;
    background-color: #0e0e0eee;
}
/* Logo */
#header-fijo nav .nav_logo-container {
    display: flex;
    place-content: center;
    place-items: center;
}
#header-fijo nav .nav_logo-container img {
    width: 35px;
    margin: 0 auto;
}
/* Menu */
#header-fijo nav .header_menu {
    width: auto;
    height: 50px;
}
#header-fijo nav .header_menu .menu_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}
#header-fijo nav .header_menu .menu_list li {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 33%;
    height: 50px;
}
#header-fijo nav .header_menu .menu_list li a {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    color: white;
    text-align: center;
}
#header-fijo nav .header_menu .menu_list li a:hover {
    background-color: white;
    color: black;
}

@media (max-width: 768px) {
    #header-fijo {
        grid-template-rows: 1fr 1fr;
    }
    #header-fijo nav {
        grid-template-columns: 1fr;
    }
    #header-fijo nav .nav_logo-container {
        grid-row: 2;
    }
    #header-fijo nav .nav_logo-container a {
        background-color: #0e0e0eee;
        display: flex;
        width: 100px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
}
