/* HEADER MOVIL */
#header-ilustraciones-movil {
    z-index: 10;
    position: fixed;
    display:  none;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: auto;
    nav {
        width: 96%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 2%;
        border-radius: 6px;
        background-color: var(--black-background);
        .nav_logo-container-movil {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            margin: 0 auto;
            object-fit: cover;
            background-color: var(--red);
            padding: 10px;
            border-radius: 50%;
            border: var(--black-background) solid 10px;
            img {
                width: 100%;
            }
        }
        .header_subMenu-movil {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            a {
                display: block;
                color: var(--white);
                font-family: var(--font-paragraph);
                font-size: var(--fontSize-paragraph);
                width: 45px;
                height: 45px;
                object-fit: contain;
                img {
                    width: 100%;
                    transition: ease-in-out .2s;
                    &:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                        filter: drop-shadow(4px 0px 0 var(--red));
                    }
                }
            }
        }
        .sub1 {
            padding-right: 30px;
        }
        .sub2 {
            padding-left: 30px; 
        }
    }
}

/* HEADER DESKTOP */
#header-ilustraciones {
    z-index: 10;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: var(--black-background);
    nav {
        width: 100%;
        height: 100%;
        .nav_logo-container {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 240px;
                border-radius: 10px;
            }
        }
        .header_subMenu {
            width: 100%;
            height: 100vh;
            padding: 0 29px 0 0;
            display: flex;
            flex-direction: column;
            align-items: end;
            div{
                display: flex;
                flex-direction: row;
                place-items: center;
                place-content: center;
                gap: 10px;
                a {
                    padding: 15px 0 0;
                    cursor: pointer;
                    color: white;
                    font-size: 4rem;
                    font-family: var(--font-title);
                    border-bottom: 3px solid transparent;
                    transition: ease-in .3s;
                    &:hover {
                        border-bottom: 3px solid var(--red);
                    }
                }
                img {
                    width: 30px;
                    padding: 15px 0 0;
                    transition: ease-in-out .2s;
                    &:hover {
                        transform: scale(1.3);
                        cursor: pointer;
                        filter: drop-shadow(4px 0px 0 var(--red));
                    }
                }
                .active {
                    border-bottom: 3px solid var(--white);
                }
            }
        }
    }
}

/* ILUTRATION */
.ilustration-main {
    margin-left: 300px;
    background-image: url('/assets/img/fondoCalaveras.webp');
    background-position: center;
    background-color: var(--white);
}
/* ILUSTRACIONES ALL */
.section_containerAll {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    background-color: var(--black-background);
}
.section_containerAll .inSecAll-containerlogo {
    display: flex;
    width: 100%;
    padding: 0 40px;
    height: auto;
}
.section_containerAll .inSecAll-containerlogo .inSecAll-containerImg {
    width: 100%;
    margin: 50px;
    height: 30vh;
    background-image: url('/assets/img/tricbys.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

    animation: decrease-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
}
.inSecAll-llamas {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
}
.inSecAll-llamas2 {
    z-index: 1;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(180deg);
}

/* VER Y OCULTAR TODAS LAS SECCIONES */
.hidden-section {
    display: none;
}

.visible-section {
    display: flex;
}

/* ILUSTRACIONES SECCION 1 */

#ilustration_section1 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--black-background);
    flex-direction: column;

    .section1_logoContainer {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;

        .ilSec1-logoSubContainer {
            z-index: 2;
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ilSec1-containerlogo {
                display: flex;
                width: 100%;
                height: auto;
                position: relative;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                animation: decrease-header linear both;
                animation-timeline: scroll(root block);
                animation-range: 0 80%;

                .ilSec1-containerImg {
                    background-image: url('/assets/img/tricbys.webp');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 320px;
                }
            }

            .ilSec1-containerButom {
                a {
                    width: 300px;
                    height: 50px;
                    position: absolute;
                    bottom: 50px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    font-size: var(--fontSize-subTitle);
                    font-family: var(--font-title);
                    color: var(--white);
                    text-align: center;
                    transition: ease-in-out .3s;

                    animation: decrease-header2 linear both;
                    animation-timeline: scroll(root block);
                    animation-range: 0 50%;

                    &:hover {
                        transform: scale(1.2);
                        color: var(--red);
                    }
                }
            }
        }

        .ilSec1_gostContainer {
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: -10px;
                left: -10px;
                object-fit: cover;
                opacity: .5;
            }

            .layerRigth {
                top: -50px;
                left: -0px;
            }
        }
    }

    .ilSec1-presentationContainer {
        width: 100%;
        height: 100vh;
    }
}

/* ILUSTRACIONES SECCION 2 3 4 5 */
#ilustration_section4 div, #ilustration_section5 div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
}
#ilustration_section1 h1, #ilustration_section4 h1, #ilustration_section5 h1 {
    color: var(--white);
    font-family: var(--font-title);
    font-size: var(--fontSize-megaTitle);
    font-weight: lighter;
}
/* ILUSTRACIONES SECCION 2 y 3 */
#ilustration_section2, #ilustration_section3 {
    position: relative;
    flex-direction: column;
    padding-bottom: 100px;
}
#ilustration_section2 .inSec2-container, #ilustration_section3 .inSec3-container {
    position: relative;
}
#ilustration_section2 .ilSec2-textContainer, #ilustration_section3 .ilSec3-textContainer {
    z-index: 2;
    padding: 18% 5% 50px;
}

#ilustration_section2 .ilSec2-textContainer h1, #ilustration_section3 .ilSec3-textContainer h1{
    font-size: var(--fontSize-title);
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    text-align: center;
}
#ilustration_section2 .ilSec2-textContainer p, #ilustration_section3 .ilSec3-textContainer p {
    margin-top: -15px;
    font-size: var(--fontSize-paragraph);
    font-weight: 500;
    text-align: center;
}
#ilustration_section2 .ilSec2-gridContainer,
#ilustration_section3 .ilSec3-gridContainer {
    z-index: 2;
    position: relative;
    columns: 3 250px;
    column-gap: 20px;
    padding: 0 5% 18%;
}
#ilustration_section2 .ilSec2-gridContainer figure, #ilustration_section3 .ilSec3-gridContainer figure {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}
#ilustration_section2 .ilSec2-gridContainer figure img, #ilustration_section3 .ilSec3-gridContainer figure img {
    display: block;
    cursor: pointer;
    max-width: 100%;
    transition: .3s ease-in-out;


}
#ilustration_section2 .ilSec2-gridContainer figure img:hover, 
#ilustration_section3 .ilSec3-gridContainer figure img:hover {
    z-index: 8;
    transform: scale(1.1);
}
.modal {
    z-index: 10;
    display: none;
    position: sticky;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black-background); 

    animation: fade-in-modal .5s ease-in;
}

.modal-content {
    z-index: 11;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;

    animation: fade-in-modalConten 1.5s ease-in;
}

.close-modal {
    position: absolute;
    right: 3%;
    font-family: var(--font-title);
    font-size: var(--fontSize-megaTitle);
    color: var(--white);
    cursor: pointer;
    z-index: 12;
}
.close-modal:hover {
    color: var(--red);
}

.visible-sectionModal {
    display: block;
}
  
.hidden-sectionModal {
    animation: fade-out-modal .8s ease-out;
}

.hidden-sectionModalContent {
    animation: fade-out-modalConten .4s ease-out;
}

/* ILUSTRACIONES SECCION 6 */
#ilustration_section6 .ilSec6-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: var(--red);
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer img {
    width: 120px;
    transition: ease .5s;
    transition-delay: .1s;
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer img:hover {
    transform: rotate(360deg);
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer p {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

/* ILUSTRACIONES ANIMATIONS SCROLL */
@keyframes fade-in-modal {
    from {
        width: 0%;
        display: none;
    }
    to {
        width: 100%;
        display: block;
    }    
}
@keyframes fade-out-modal {
    from {
        width: 100%;
        display: block;
    }
    to {
        width: 0%;
        display: none;
    }    
}
@keyframes fade-in-modalConten {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }    
}
@keyframes fade-out-modalConten {
    from {
        opacity: 1;
        display: block;
    }
    to {
        opacity: 0;
        display: none;
    }    
}

/* GALERIA Y HEADER */
@keyframes reveal {
    from {
        translate: 0 100px;
        scale: .5;
    }

    to {
        translate: 0 0;
        scale: 1;
    }
}

@keyframes decrease-header {
    to {
        scale: .5;
    }
}

@keyframes decrease-header2 {
    to {
        opacity: 0;
    }
}

/* MEDIAQUERYS */
@media (width <= 1200px) {
    #header-ilustraciones-movil { 
        display: block;
    }
    /* ILUSTRACIONES */
    #header-ilustraciones {
        display: none;
    }
    /* cambia el contenerdor principal para que ocupe el 100% y abarque el tamaño que ocupa el heder de desktop */
    .ilustration-main { 
        width: 100%;
        margin-left: 0;
    }
    /* cambia el logo de tricby´s desktop por el movil */
    #ilustration_section1 .section1_logoContainer .ilSec1-logoSubContainer .ilSec1-containerlogo .ilSec1-containerImg {
        background-image: url('/assets/img/tricbys2.webp');
        width: 90%;
    }
    /* quita la deciracion de llamas inferior  */
    .inSecAll-llamas2 { 
        display: none;
    }
}
@media (width <= 900px) {
    /* ILUSTRATION SECCION 1 / cambio de logo */
    #ilustration .section1_container .inSecAll-containerlogo .inSecAll-containerImg {
        background-image: url('/assets/img/tricbys2.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;
    }
}
