
/* INDEX HEADER */
#header-index {
    z-index: 12;
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0;
    right: 0;  
    nav {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 100vh;
        justify-content: space-between;
        align-items: end;
        .nav_logo-container {
            z-index: 2;
            width: 90px;
            height: auto;
            display: flex;
            border-bottom-left-radius: 7px;
            border-top-left-radius: 7px;
            margin-top: 30px;
            background-color: var(--red);
            transition: ease .5s;
            &:hover {
                width: 120px;
            }
            a {
                width: 100%;
                display: flex;
                justify-content: start;
                img {
                    width: 35px;
                    margin: 12px 12px;
                    object-fit: contain;
                }
            }
        }
        .headerMenu {
            z-index: 2;
            width: 85px;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            gap: 20px;
            align-items: center;
            justify-content: center;
            .BGusa {
                background-image: url("/assets/Icons/UsaBackGround.webp");
                background-size: cover;
                background-position: left;
            }
            .BGcol {
                background-image: url("/assets/Icons/ColBackGround.webp");
                background-size: cover;
                background-position: left;

            }
            .languageContainer {
                position: relative;
                .languageIconContainer {
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 7px;
                    user-select: none;
                    transition: ease-in .1s;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &:active {
                        transition: ease-in-out .0s;
                        transform: scale(.9);
                    }
                    .languageIcon {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--white);
                        background-color: var(--black-background);
                        font-size: 2.5rem;
                        border-radius: 5px;
                        font-weight: bolder;
                    }
                }
                .languageSelector {
                    height: 60px;
                    width: 120px;
                    position: absolute;
                    display: none;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 7px;
                    left: -132px;
                    top: 0px;
                    background-color: var(--white);
                    animation: revealindex ease-in .3s both;
                    img {
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .iconContainer {
                width: 60px;
                height: 60px;
                border-radius: 7px;
                border: solid var(--white) 2px;
                transition: ease-in-out .2s;
                &:hover {
                    background-color: var(--white);
                }
                &:active {
                    transition: ease-in-out .0s;
                    transform: translateX(-5px);
                    filter: drop-shadow(10px 0px 0 var(--red));
                }
                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--white);
                    font-size: 3rem;
                    font-family: var(--font-title);
                    transition: ease-in-out .2s;
                    &:hover {
                        color: var(--black-background);
                        font-weight: bolder;
                    }
                }
            }
        }
    }
    
}

/* INDEX MAIN */
.main-index {
    width: 100%;
    padding-right: 85px;
    background-color: var(--black-background);
    background-image: url('/assets/img/FondoCalaverasNegro.webp');
    background-position: center;
    position: relative;
}
/* TEMAS */
.inedex_colorThemeSelector {
    z-index: 20;
    position: fixed;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
    .themeRed {
        background-color: #bd2929;
    }
    .themePurple {
        background-color: #8553AC;
    }
    .themeBlue {
        background-color: #55C78B;
    }

}
/* INDEX SECCION 1 */
#index_introSection {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 15%;
    animation: revealindex linear .5s both;
    .decoTelaraña{
        width: 90%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("../assets/img/telaraña.webp");
        background-size: contain;
        background-repeat: no-repeat;
    }
    article {
        position: relative;
        width: auto;
        height: 100%;
        display: flex;
        place-items: center;
        gap: 50px;
        .inSecIntro-textContainer {
            z-index: 2;
            width: auto;
            cursor: default;
            max-width: 65%;
            text-align: end;
            .greeting {
                font-family: var(--font-paragraph);
                font-size: var(--fontSize-paragraph);
                color: rgb(174, 174, 174);
                font-weight: 300;
                padding-right: 10px;
                margin-bottom: 10px
            }
            h1 {
                z-index: 5;
                font-family: var(--font-title);
                font-size: var(--fontSize-Title);
                color: var(--red);
                line-height: 5rem;
                font-weight: lighter;
                
            }
            h2 {
                z-index: 2;
                font-family: var(--font-paragraph);
                font-size: var(--fontSize-subTitle);
                color: var(--white);
                font-weight: 300;
                margin-bottom: 50px;
                line-height:3rem;
                text-wrap: pretty;

                animation: revealindex ease-in-out .3s both;
                animation-delay: 1s;
            }
            .but {
                color: var(--white);
                font-family: var(--font-paragraph);
                font-size: 2.2rem;
                line-height: 1rem;

                animation: revealindex ease-in-out .3s both;
                animation-delay: 2.5s;
            }
            h3 {
                font-family: var(--font-paragraph);
                font-size: var(--fontSize-paragraph);
                color: rgb(123, 123, 123);
                margin-top: 6px;
                font-weight: 300;
                text-wrap: balance;

                animation: revealSec1Titles linear .3s both;
                animation-delay: 4s;
            }
            h4 {
                font-family: var(--font-paragraph);
                font-size: var(--fontSize-smallParagraph);
                color: rgb(85, 85, 85);
                margin-top: 5px;
                font-weight: 300;
                text-wrap: balance;

                animation: revealSec1Titles ease-out .2s both;
                animation-delay: 4.5s;
            }
        }

        .inSecIntro-imgContainer {
            width: 30%;
            display: flex;
            flex-direction: column;
            .inSecIntro-moon {
                width: 100%;
                transition: ease-in-out .2s;
                &:hover {
                    transform: translateX(-10px);
                    filter: drop-shadow(20px 0px 0 var(--red));
                }
            }
            .inSecIntro-redesContainer {
                display: flex;
                gap: 10px;
                justify-content: center;
                .inSecIntro-butonRedes {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .inSecIntro-butonCV {
                    padding: 0 10px;
                }
            }
        }
    }
    .inSecIntro-SMContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        margin: auto;
        animation: revealindex ease-out .5s both;
        animation-delay: 6s;
        a {
            font-family: var(--font-title);
            font-size: var(--fontSize-subTitle);
            font-weight: lighter;
            color: var(--red);
            cursor: pointer;
            transition: linear .2s;
            border-bottom: 2px solid transparent;
            &:hover {
                transform: scaleX(1.1);
            }
        }
        img {
            width: 40px;
            animation: MoveArrow 4s ease-in-out infinite;
            &:hover {
                transform: scaleX(1.1);
            }
        }
    }
}

/* INDEX SECCION 2 */
#index_projectSection {
    position: relative;
    width: 100%;
    height: auto;
    padding: 150px 15%;

    h1 {
        position: relative;
        font-family: var(--font-title);
        font-size: var(--fontSize-Title);
        color: var(--red);
        font-weight: lighter;
        text-align: center;
        padding: 0 0 150px;

        animation: revealContent linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        
        .titleSeparator {
            position: absolute;
            width: 80%;
            top: 40%;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
    }

    .inSecProjects-containerCards {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 150px; 
        transition:  0.5s ease-in-out;
        article:nth-child(2) {
            justify-content: end;
            flex-direction: row-reverse;
        }
        
        .inSecProjects-cards{
            z-index: 2;
            width: auto;
            height: auto;
            position: relative;
            display: flex;
            gap: 60px;

            animation: revealContentLeft linear both;
            animation-timeline: view();
            animation-range: entry 20% cover 30%;

            .inSecProjects-imgContainer {
                position: relative;
                width: 60%;
                height: 300px;
                overflow: hidden;
                border-radius: 7px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .2s linear;
                    &:hover {
                        transform: scale(1.03);
                    }
                }
            }
            .inSecProjects-textContainer {
                position: relative;
                width: 500px;
                display: flex;
                flex-direction: column;
                padding: 5px;
                h3 {
                    font-family: var(--font-title);
                    font-size: var(--fontSize-subTitle);
                    color: var(--white);
                    font-weight: lighter;
                    line-height: 3rem;
                    margin-bottom: -5px;
                }
                .inSecProjects-technologiesContainer {
                    display: flex;
                    gap: 8px;
                    padding: 8px 0;
                    flex-wrap: wrap;
                    p {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        font-family: var(--font-paragraph);
                        border: solid 2px var(--red);
                        border-radius: var(--border-radius);
                        font-size: 1.2rem;
                        color: var(--white);
                        padding: 2px 5px;
                        .iconsTecnologies {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .inSecProjects-text {
                    font-size: var(--fontSize-smallParagraph);
                    font-family: var(--font-paragraph);
                    text-wrap: pretty;
                    line-height: 2rem;
                    color: var(--white);
                    margin-bottom: auto;
                    
                    transition: ease-in-out .2s;
                    cursor: default;
                }
                .inSecProjects-butonContainer {
                    width: 100%;
                    height: auto;
                    display: flex;
                    gap: 20px;
                    .inSecProjects-buton {
                        width: 150px;
                        height: 40px;
                        padding: 6px 0;
                    }
                }
                .end {
                    display: flex;
                    justify-content: end;
                    text-align: end;
                }
            }
        }
        .inSecProjects-cardsRight {
            animation: revealContentRightLarge linear both;
            animation-timeline: view();
            animation-range: entry 20% cover 30%;
        }
    }
}

/* INDEX SECCION 4 */
#index_aboutMeSection {
    width: 100%;
    height: auto;
    padding: 100px 15% 150px;
    h1 {
        position: relative;
        font-family: var(--font-title);
        font-size: var(--fontSize-Title);
        color: var(--red);
        text-align: center;
        padding: 0 0 150px;

        animation: revealContent linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;

        .titleSeparator {
            position: absolute;
            width: 80%;
            top: 40%;
            left: 50%; 
            transform: translate(-50%, -50%); 
        }
    }
    .inSecAM-principalInfo {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
        .inSecAM-redesAndImgContainer {
            width: 30%;
            align-self: stretch;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            .inSecAM-imgContainer {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                background-size: cover;
                background-position: center;
                p {
                    position: absolute;
                    background-color: #6eae2d;
                    padding: 5px 8px;
                    font-family: var(--font-paragraph);
                    border-radius:  0 var(--border-radius);
                    color: var(--black-background);
                    font-size: 1.2rem;
                    bottom: 0;
                    left: 0;
                    cursor:default;
                }
            }
            .imgStivenson{
                background-image: url("../assets/img/Stivenson.webp");
            }
            .inSecAM-redesContainer {
                display: flex;
                width: 100%;
                min-height: 50px;
                height: 50px;
                gap: 20px;
                justify-content: space-between;
                .inSecAM-butonRedes {
                    display: inline-block;
                    min-width: 50px;
                    min-height: 50px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .inSecAM-butonCV {
                    width: 80%;
                    height: 50px;
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
        }
        .inSecAM-textContainer{
            width: 70%;
            align-self: stretch;
            flex-grow: 1;
            .inSecAM-textSubContainer {
                .insSecAM-text{
                    font-family: var(--font-paragraph);
                    font-size: var(--fontSize-paragraph);
                    color: var(--white);
                    text-wrap: pretty;
                    font-weight: 300;
                    margin-bottom: 25px;
                    p{
                        display: inline;
                    }
                    .relevantLetter {
                        font-family: var(--font-title);
                        font-size: 4rem;
                        line-height: 1px;
                        letter-spacing: -5px;
                        color: var(--red);
                    }
                    .highlightText {
                        color: var(--red);
                    }
                }
                div:nth-child(1) {
                    margin-top: 17px;
                }
                div:nth-child(3) {
                    margin-bottom: 0px;
                }
            }
        }
    }
    .inSecAM-moreInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        gap: 60px;

        animation: revealContent linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;
        
        .inSecAM-skills{
            display: grid;

            grid-template-columns: repeat(3,100px);
            grid-template-rows: repeat(3,100px);
            gap: 20px;
            
            .inSecAM-cards {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                border: solid 2px var(--white);
                border-radius: var(--border-radius);
                img {
                    width: 80%;
                    transition: ease-in-out .3s;
                    &:hover {
                        transform: translateX(-5px);
                        filter: drop-shadow(10px 0px 0 var(--red));
                    }
                }
                p {
                    font-family: var(--font-paragraph);
                    font-size: 1.1rem;
                    color: var(--white);
                    width: 100%;
                    text-align: center;
                }
                #masSkills {
                    font-family: var(--font-paragraph);
                    font-size: 3.5rem;

                }
            }
        }
        .inSecAM-carruselContainer {
            position: relative;
            width: 70%;
            height: 340px;
            display: flex;
            border: solid var(--red) 3px;
            border-radius: var(--border-radius);
            overflow-x: hidden;
            .inSecAM-carruselButton {
                z-index: 10;
                width: 50px;
                height: 100%;
                position: absolute;
                border: none;
                cursor: pointer;
                background-color: var(--red);
                padding: 8px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                .imgLeft {
                    transform: rotate(90deg);
                }
                .imgRight {
                    transform: rotate(-90deg);
                }
            }
            .buttonLeft {
                left: 0;
                &:active {
                    filter: drop-shadow(4px 0 0 var(--white));
                }
            }
            .buttonRight {
                right: 0;
                &:active {
                    filter: drop-shadow(-4px 0 0 var(--white));
                }
            }
            .inSecAM-carrusel {
                width: 100%;
                height: 100%;
                display: flex;
                
                .inSecAM-imgCarrusel{
                    min-width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center; 
                }
               
            }
        }
    }
}

/* INDEX SECCION 5 */
#index_section5 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 320px 15%;
    overflow: hidden;
    .inSecAMcontainerContactMe {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top:10px;
        .inSecAMbutomCV {
            display: flex;
            height: 50px;
            place-items: center;
            font-family: var(--font-title);
            color: var(--white);
            border: 2px solid var(--white);
            padding: 10px 10px;
            text-align: center;
            font-size: 3rem;
            transition: ease .2s;
            border-radius: 7px;
            &:hover {
                background-color: var(--white);
                color: var(--black-background);
                font-weight: bold;
            }
        }
        .inSecAMtextContactMe {
            z-index: 2;
            font-family: var(--font-title);
            font-size: var(--fontSize-subTitle);
            color: var(--red);
            text-align: center;
        }
    }
    .inSecAMimgContainer {
        z-index: 1;
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -5px;
        padding: 0 15%;
        opacity: 50%;
    
        img {
            width: 100%;
        }
    }
}

/* INDEX FOOTER */
/* #footer-index {
    z-index: 2;
    width: 100%;
    height: auto;
    position: relative;
    .inFooter-containerText {
        width: 100%;
        height: auto;
        border-top: solid 2px var(--white);
        p {
            font-family: var(--font-paragraph);
            font-size: 2rem;
            color: var(--white);
            text-align: center;
            padding: 10px;
        }
    }
} */

/* ANIMATIONS */
@keyframes revealindex {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes MoveArrow {
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(15px);
    }
    70% {
        transform: translateY(0);
    }
}
@keyframes revealContent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes revealContentLeft {
    from {
        transform: translateX(-35rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes revealContentRightLarge {
    0% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes revealContentRightSmall {
    0% {
        transform: translateX(12%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes revealSec1Titles {
    0% {
        transform: translateX(-100rem);
        opacity: 0;
    }
    60% {
        transform: translateX(5rem);
        opacity: 1;
    }
    80% {
        transform: translateX(20rem) scaleX(0.6) scaleY(1.2);
        opacity: 1;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

/* MEDIAQUERYS */

@media (max-width: 1200px) {
    /* SECCION 1 */
    #index_introSection {
        article {
            .inSecIntro-imgContainer {
                position: absolute;
                width: 100%;
                opacity: .05;
            }
            .inSecIntro-textContainer {
                text-align: center;
                max-width: 100%;
            }
        }
    }
    /* SECCION 2 */
    #index_projectSection {
        padding: 150px 10%;
        .inSecProjects-containerCards {
            .inSecProjects-cards{
                gap: 20px;
                flex-direction: column;
                .inSecProjects-imgContainer{
                    width: 100%;
                }
                .inSecProjects-textContainer {
                    width: 100%;
                    .inSecProjects-text {
                        margin-top: 10px;
                    }
                    .inSecProjects-butonContainer {
                        margin-top: 20px;
                    }
                }
            }
            article:nth-child(2) {
                flex-direction: column;
            }
            .inSecProjects-cardsRight {
                animation: revealContentRightSmall linear both;
                animation-timeline: view();
                animation-range: entry 20% cover 30%;
            }
        }
        
    } 
    /* SECCION 4 */
    #index_aboutMeSection {
        .inSecAM-principalInfo{
            flex-direction: column;
            .inSecAM-redesAndImgContainer {
                width: 100%;
                flex-direction: row;
                justify-content: center;
                .inSecAM-imgContainer {
                    width: 50%;
                    min-width: 200px;
                    height: 200px;

                }
                .inSecAM-redesContainer {
                    width: 50px;
                    height: 200px;
                    flex-direction: column;
                    .inSecAM-butonCV {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .inSecAM-textContainer {
                width: 100%;
            }
        }
        .inSecAM-moreInfo {
            flex-direction: column-reverse;
            .inSecAM-carruselContainer {
                width: 100%;
            }
            .inSecAM-skills {
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
                justify-content: center;
                gap: 10px;
                .inSecAM-cards {
                    #masSkills {
                        font-size: 3rem;
                    }
                }
                
            }
        }
    }
    /* SECCION 5 */
    #index_section5 {
        padding: 200px 15%;

        .inSecAMimgContainer {
            padding: 0px 0px;
        }
    }
}

@media (width <= 800px) {
    /* MAIN */
    .main-index {
        padding-right: 0px;
    }
    /* HEADER */
    #header-index { 
        display: none;
    }
    /* SECCION 4 */
    #index_aboutMeSection{
        padding: 150px 10%;
    }
    /* SECCION 5 */
    #index_section5 {
        padding: 150px 10%;

        .inSecAMimgContainer {
            padding: 0px 0px;
        }
    }
}

@media (max-width: 460px) {
    #index_introSection{
        article {
            .inSecIntro-textContainer{
                h1 {
                    line-height: 3rem;
                }
                h2{
                    line-height: 2rem;
                }
                h4{
                    display: none;
                }
            }
        }
    }

    #index_aboutMeSection {
        .inSecAM-moreInfo {
            .inSecAM-carruselContainer {
                width: 100%;
                height: 250px;
            }
        }
    }
}