@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ytp-impression-link {
    display: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size:1.6rem;
    font-family: 'Roboto mono', monospace;
    
}
body::-webkit-scrollbar, 
.container_galery::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #0e0e0e;
}
body::-webkit-scrollbar-thumb,
.container_galery::-webkit-scrollbar-thumb
{
    background-color:#804141;
    border-radius: 5px;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}

/* INDEX */
.home-main {
    background-color: #ffffff;
    background-image: url('/assets/img/calaveras_blanco.webp');
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* PAGINA PRINCIPAL (INDEX) */
/* .home-main_container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */
.home-main .home-sec {
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INDEX SECCION 1 */
.home-main .home-sec1 {
    display: flex;
    justify-content: center;
    background-image: url('/assets/img/2.webp');  
    background-position: center;
}
.home-main .home-sec1 .sec1_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-main .home-sec1 .sec1_container div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-main .home-main_title {
    margin: 0;
    font-family: 'Roboto mono', monospace;
    font-size: 5rem;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}
.home-main_img {
    margin-left: 30px;
    width: 900px;
}
.home-main .home-main_text {
    margin: 0;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto mono', monospace;
    font-size: 3rem;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}
.home-main .home-main_button {
    display: inline;
}
.home-main .home-main_button a {
    width: 300px;
    height: 50px;
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: 'Roboto mono', monospace;
    background-color: #6d3232;
    color: white;
    transition: transform 300ms;
}
.home-main .home-main_button a:hover {
    background-color: #a22929;
    transform: scale(1.2);
}

/* INDEX SECCION 2 */
.home-main .home-sec2 {
    width: 100%;
    height: auto;
    display: flex;
    background-image: url('/assets/img/telaraña2.webp');
    background-position: top;
}
.home-main .home-sec2 .home-sec2_grid {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
.sec2_container-img {
    z-index: 2;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('/assets/img/1.webp');
    background-position: top;
}
.sec2_container-img img {
    position: absolute;
    bottom: -100px;
    width: 300px;
    border: groove 10px #6d3232;
    border-radius: 50%;
}
.sec2_container-name {
    text-align: center;
    padding: 150px 50px 50px;;
}
.sec2_container-text {
    z-index: 2;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 50px 50px 100px;
}
.sec2_container-text div {
    border-radius: 10px;
    border: double 10px #0e0e0e;
    padding: 20px;
    color: #0e0e0e;
}
/* INDEX SECCION 3 */
.home-main .home-sec3 {  
}
.sec3_container-onda {
    width: 100%;
    height: auto;
}
.sec3_container {
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
}

/* ILUTRATION */
.ilustration-main {
    background-color:#0e0e0e;
    /* background-image: url('/assets/img/calaveras_blanco.webp'); */
}
.ilustration-main .return-button {
    z-index: 9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    right: 5%;
    overflow: hidden;
    background-color: #a8311fa0;
    transition: transform 250ms;
}
.ilustration-main .return-button:hover {
    background-color:#2d2222;
    transform: scale(1.15);
}
.ilustration-main .return-button a {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* PRESENTATION */
#ilustration_container-presentation {
    background-color: #0e0e0e;
    background-image: url('/assets/img/calaveras_negro.webp');
    width: 100%;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
}
#ilustration_container-presentation .presentation_text {
    z-index: 2;
    width: 60%;
    color: #fff;
    text-align: center;
    place-self: center ;
}
#ilustration_container-presentation .presentation_image {
    z-index: 1;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
#ilustration_container-presentation img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -5%;
}
/* SELECCION DE PERSONAJE */
#lustration_container-one {
    background-color: #0e0e0e;
    text-align: center;
}
#lustration_container-one h1 {
    color: #fff;
    padding: 20px 10rem 10px;
}
#lustration_container-one p,
#lustration_container-one h3 {
    color: #fff;
    padding: 10px 10rem 20px;
}
.container_galery {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    gap: 10px;
    overflow: auto;
}
.container_img {
    max-width: 120px;
    min-width: 120px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 250ms;
    cursor: pointer;
}
.container_img:hover {
    z-index: 8;
    transform: scale(1.15);
}
.container_img a {
    width: 100%;
    height: 100%;
    position: absolute;
}
.container_img img {
    width: 100%;
    object-fit: cover;
}
/* TITULO */
.ilustration-title {
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
}
/* GALERIA COMPLETAS */
.lustration_container-all {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.lustration_container-all .container-all-ex {
    width: 100%;
    height: 75%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;/* 
    background-attachment: fixed; */
}
.lustration_container-all .section_all {
    z-index: 2;
    width: auto;
    height: 100%;
}
.lustration_container-all .section_all img {
    height: 100%;
    object-fit: cover;
}
.degrad-top {
    z-index: 1;
    width: 100%;
    height: 60%;
    position: absolute;
    background: linear-gradient(to top, transparent, #0e0e0e 80%);
    top: 0;
}
/* .degrad-bottom {
    z-index: 1;
    width: 100%;
    height: 45%;
    position: absolute;
    background: linear-gradient(to bottom, transparent, #0e0e0e 80%);
    bottom: 0;
} */
/* GALERIA COMPLETAS SEPARADAS*/
.aplox {
    background-image: url('/assets/img/ilustraciones/Fondos/fondoAplox.webp');
    background-position: center;
}
.ferchan {
    background-image: url('/assets/img/ilustraciones/Con fondo/FerChanJPG.webp');
    background-position: center;
}
.akshan {
    background-image: url('/assets/img/ilustraciones/Con fondo/AkshanJPG.webp');
}
.anye {
    background-image: url('/assets/img/ilustraciones/Fondos/fondoAnye.webp');
}
.gio {
    background-image: url('/assets/img/ilustraciones/Fondos/gioFondo.webp');
}
.alucardcueva {
    background-image: url('/assets/img/ilustraciones/Fondos/alucardcuevaFondo.webp');
}
.viego {
    background-image: url('/assets/img/ilustraciones/Con fondo/Viego.webp');
}
.isabella {
    background-image: url('/assets/img/ilustraciones/Con fondo/isabella.webp');
}
.alucard {
    background-image: url('/assets/img/ilustraciones/Fondos/alucardFondo.webp');
}
.vampiro2 {
    background-image: url('/assets/img/ilustraciones/Fondos/fondoGotic.webp');
    background-position:bottom;
}
.sasuke {
    background-image: url('/assets/img/ilustraciones/Fondos/sasukeFondo.webp');
    background-position: center;
}

/* GALERIA FINAL */
.ilustration_container-galery-final {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/ilustraciones/Con fondo/FiddlesticksPNG.webp');
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
}
/* VIDEOS */
.main-videos {
    background-image: url('/assets/img/fondo\ crepers.webp');
    background-color: #fff;
}
/* VIDEOS SECCION 1 */
#video_section1 {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr;
    background-position: bottom;
}
.section1_containerPortada {
    width: 100%;
    height:50vh;
    background-image: url('/assets/img/miniatura.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1_containerFlex {
    width: 100%;
    height: 100%;
    position: relative;
}
.section1_containerFlex video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.section1_containerFlex .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eeab70;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
/* Div de relleno */
.main-videos .tablones {
    width: 100%;
    height:35px;
    background-image: url('/assets/img/tablones.webp');
    background-position: top;
}
/* VIDEOS SECCION 2 */
#video_section2 {
    background-image: url('/assets/img/bayas\ dulce.webp');
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
.section2_description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 10px 80px;
    gap: 20px;
}
.description_imageContainer {
    background-image: url('/assets/img/FotoTricby.png');
    background-size: cover;
    width: 280px;
    height: 280px;
    margin-bottom: 80px;
    border-radius: 10px;
}
.section2_description img {
    width: 100%;
    border-radius: 10px;
}
.section2_description img:hover {
    opacity: 0;
}
.section2_description p {
    max-width: 1300px;
    min-width: 300px;
    margin: 10px;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}
/* Cards (VIDEOS SECCION 2)*/
.section2_extrasContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    padding: 30px 20px 200px;
    gap: 20px;
}
.card-sec2 {
    max-width: 500px;
    min-width: 150px;
    height: auto;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    
}
.witherM {
    text-align: right;
}
.tricbyM {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-image: url('/assets/img/tricbycabeza2.webp');
    background-size: cover;
    align-self: center;
}
.tricbyM img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.tricbyM img:hover {
    opacity: 0;
}

/* VIDEOS SECCION 3 */
#video_section3 .section3_container {
    width: 100%;
    height: 600px;
    position: relative;
}
#video_section3 .section3_container div {
    width: 180px;
    height: 180px;
    background-image: url('/assets/img/abejaMinecraft.webp');
    background-size: cover;
    position: absolute;
    left: calc(50% - 90px); 
    bottom: -60px;
    background-color: white;
    border-radius: 50%;
}


/* FONDO SECION Y FINAL */
.paisaje-container {
    background-image: url('/assets/img/fondoVideosSecFinal.webp');
    background-size: cover;
    background-attachment: fixed;
} 
.paisaje-container h2 {
    padding: 80px 0 30px;
    text-align: center;
    font-size: 6rem;
    color: white;
}

/* VIDEOS SECCION 4 */
#video_section4 .section4_videoList {
    max-width: 100%;
    padding: 50px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    place-content: center;
}
#video_section4 .container_iframe {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
#video_section4 .container_iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/* VIDEOS SECCION FINAL */
.videos-sectionFinal {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/portadaFinalVideos.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

}

/* WEB */
.web-main_container {
    width: 100%;
    height: 84vh;
    display: flex;
    place-content: center;
    place-items: center;
}
.web-main_container h1 {
    font-size: 4rem;
}
/* FOOTER */
footer {
    display: none;
    z-index: 10;
    width: 100%;
    height: auto;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
}
footer div {
    display: none;
    
}

