* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Grenze Gotisch', cursive;
}
:root {
    --black-background: #141414;
    --whithe: #fefefe;
    --red: #bd2929;
    --strog-red: #b11515;

    --font-title: 'Bigelow Rules', cursive;
    --font-paragraph: 'Grenze Gotisch', cursive;
}
.ytp-impression-link {
    display: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size:1.6rem;
    font-family: 'Roboto mono', monospace;
    
}
body::-webkit-scrollbar, 
.container_galery::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background-color: var(--black-background);
}
body::-webkit-scrollbar-thumb,
.container_galery::-webkit-scrollbar-thumb
{
    background-color: var(--red);
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

/* INDEX */
.main-index {
    width: 100%;
    background-color: var(--whithe);
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-attachment: fixed;
}
/* INDEX SECCION 1 */
#index_section1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(91,91,91);
    background-color: var(--black-background);
}
#index_section1 .section1_container {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}
#index_section1 .section1_container .inSec1-containerlogo {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#index_section1 .section1_container .inSec1-containerlogo .inSec1-containerImg {
    background-image: url('/assets/img/tricbys.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 320px;
}
#index_section1 .section1_container .inSec1-containerlogo P {
    position: absolute;
    font-family: 'Bigelow Rules', cursive;
    font-size: 5rem;
    color: var(--whithe);
    letter-spacing: 2px;
}
#index_section1 .section1_container .inSec1-containerlogo .inSec1-text2 {
    bottom: 20%;
    right: 370px;
}
#index_section1 .section1_container .inSec1-containerButom a {
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 5rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    color: var(--whithe);
    text-align: center;
    transition: transform 300ms;
}
#index_section1 .section1_container .inSec1-containerButom a:hover {
    transform: scale(1.2);
    color: var(--strog-red);
}

/* INDEX SECCION 1 container gost*/
#index_section1 .section1_container-gost {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
#index_section1 .section1_container-gost img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    object-fit: cover;
}
#index_section1 .section1_container-gost .layerRigth {
    top: -50px;
    left: -0px;
}

/* INDEX SECCION 2 */
#index_section2 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--whithe);
}
#index_section2 .inSec2-llamas {
    z-index: 3;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: auto;
}
#index_section2 .inSec2-containerPerfil {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15% 10% 45%;
}
#index_section2 .inSec2-containerPerfil h2 {
    font-size: 7rem;
    font-family: var(--font-title);
    text-align: center;
    font-weight: 100;
}
#index_section2 .inSec2-containerPerfil p {
    max-width: 1000px;
    font-size: 2.2rem;
    text-align: center;
    margin: 0 auto;
}
#index_section2 .inSec2-ilustration {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -1px;
}
#index_section2 .inSec2-separator {
    z-index: 2;
    max-width: 1000px;
    width: 80%;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* INDEX SECCION 3 */
#index_section3 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--black-background);
}
#index_section3 .inSec3-containerPerfil {
    z-index: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px   ;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 100px 0;
}
#index_section3 .inSec3-containerPerfil .inSec3-fotoPerfil {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 50%;
}
#index_section3 .inSec3-containerPerfil h1{
    z-index: 2;
    font-size: 10rem;
    color: var(--whithe);
    font-weight: lighter;
    text-align: start;
    font-family: 'Bigelow Rules', cursive;
    cursor: default;
    letter-spacing: 1px;
    
}
#index_section3 .inSec3-containerPerfil .inSec3-profesionText {
    font-size: 5rem;
}
#index_section3 .inSec3-containerPerfil h1:hover {
    transition: ease .5s;
    color: var(--red);
}
#index_section3 .inSec3_containerTextSobreMi {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 10%;
    gap: 10%;
}
#index_section3 .inSec3_containerTextSobreMi a {
    color: var(--red);
    font-size: 2.3rem;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantA {
    font-size: 6rem;
    font-family: 'Bigelow Rules', cursive;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantB {
    font-size: 4rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 1px;
    transition: ease-in .2s;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantB:hover { 
    color: #35a29e;
}
#index_section3 .inSec3_containerTextSobreMi div {
    margin-bottom: 30px;
}
#index_section3 .inSec3_containerTextSobreMi h2 {
    font-size: 7rem;
    font-weight: lighter;
    color: var(--red);
    font-family: 'Bigelow Rules', cursive;
    transition: ease .5s;
}
#index_section3 .inSec3_containerTextSobreMi h2:hover {
    transform: translate(15px);
}
#index_section3 .inSec3_containerTextSobreMi p {
    font-size: 2.2rem;
    color: var(--whithe);
    font-weight: 300;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-textLeft{
    text-align: right;
    margin-bottom: 90px;
    max-width: 45%;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-textRight {
    text-align: left;
    margin-bottom: 90px;
    max-width: 45%;
}

/* INEDEX SECCION 3 cards */
#index_section3 .inSec3_containerCards {
    z-index: 2;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 10px;
    flex-wrap: wrap;
    padding: 0px 10% 25%;
}
#index_section3 .inSec3_containerCards .inSec3-cards {
    z-index: 2;
    width: 120px;;
    height: auto;
    color: var(--whithe);
}
#index_section3 .inSec3_containerCards .inSec3-cards img {
    width: 100%;
    transition: linear .2s;
}
#index_section3 .inSec3_containerCards .inSec3-cards img:hover {
    transform: scale(1.1);
}
#index_section3 .inSec3_containerCards .inSec3-cards h3 {
    font-size: 2.2rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    padding: 2px 0px;
}
.onda {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
}
/* INEDEX SECCION 4 */
#index_section4 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--whithe);
}
#index_section4  h4 {
    font-size: 7rem;
    font-family: 'Bigelow Rules', cursive;
    text-align: center;
    padding: 50px 10% 70px;
}
#index_section4 .inSec4-containerCards {
    z-index: 2;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
    padding: 0px 10% 70px;
}
#index_section4 .inSec4-containerCards .inSec4-imgBackgroundILUSTRACIONES {
    background-image: url('/assets/img/ilus.webp');
    background-position: center;
}
#index_section4 .inSec4-containerCards .inSec4-imgBackgroundVIDEOS {
    background-image: url('/assets/img/vid.webp');
    background-position: center;
}
#index_section4 .inSec4-containerCards .inSec4-imgBackgroundWEB {
    background-image: url('/assets/img/web.webp');
    background-position: center;
}
#index_section4 .inSec4-containerCards article {
    z-index: 2;
    width: 400px;
    height: 350px;
    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}
#index_section4 .inSec4-containerCards article .inSec4-marco {
    position: absolute;
    width: 103%;
    height: 115%;
    top: -7.5%;
    left: -1.5%;
}
#index_section4 .inSec4-containerCards article .inSec4-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardText {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    background-color: var(--black-background);
    transition: ease .5s;
    transition-delay: .2s;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardText:hover {
    opacity: 0%;
    cursor: default;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardText h2 {
    color: var(--whithe);
    font-family: 'Bigelow Rules', cursive;
    text-align: center;
    padding-top: 20px;
    font-weight: 100;
    font-size: 4rem;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardText p {
    text-align: center;
    padding: 5px 20px;
    font-size: 2.2rem;
    font-weight: 100;
    color: var(--whithe);
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardIcons {
    z-index: 2;
    width: 85px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 15px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--black-background);
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardIcons p {
    color: var(--whithe);
    font-size: 3rem;
    font-family: 'Bigelow Rules', cursive;
    font-weight: 100;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardIcons a {
    width: auto;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardIcons a img {
    width: 100%;
    transition: ease .5s;
}
#index_section4 .inSec4-containerCards article .inSec4-card .inSec4-cardIcons img:hover {
    transform: scale(1.2);
}
#index_section4 .inSec4-finalText {
    position: relative;
    z-index: 2;
    font-size: 2.2rem;
    text-align: center;
    padding: 50px 10% 16%;
}
#index_section4 .inSec4-llamas2 {
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(180deg);
}
/* INDEX SECCION 5 */
#index_section5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    background-color: var(--black-background);
}
#index_section5  .inSec5-redesContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 100px 0 20px;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes {
    width: 100px;
    height: auto;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a {
    width: 100%;
    height: auto;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a img {
    width: 100%;
    height: auto;
    transition: ease .5s;
    transition-delay: .1s,;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a img:hover {
    transform: rotate(360deg);
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes p {
    text-align: center;
    color: var(--whithe);
    font-size: 2rem;
}
#index_section5 h5 {
    color: var(--red);
    font-size: 5rem;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: 'Bigelow Rules', cursive;
}
#index_section5 .inSec5-butomCV {
    display: inline-block;
    font-size: 3.5rem;
    font-family: 'Bigelow Rules', cursive;
    padding: 10px 30px;
    background-color: var(--whithe);
    border-radius: 10px;
    margin: 20px auto 100px;
    transition: ease .2s;
}
#index_section5 .inSec5-butomCV:hover {
    transform: scale(1.1);
    background-color: var(--red);
    color: var(--whithe);
}

/* ILUTRATION */
.ilustration-main {
    width: 80%;
    float: right;
}
.ilustration-main .return-button {
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    overflow: hidden;
    background-color: #424242;
    transition: linear 250ms;
}
.ilustration-main .return-button:hover {
    background-color:#271213;
    transform: scale(1.15);
}
.ilustration-main .return-button a {
    display: flex;
    color: #fefefe;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

/* PORTADA */
.ilustration-main {
    position: relative;
}
.ilustration_portadaContainer {
    width: 100%;
    height: 50vh;
    background-image: url('/assets/img/ilustraciones/ferchanGuitarra.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* PRESENTATION */
#ilustration_section1 {
    z-index: -1;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    padding: 200px 10% 100px;
    background-color: #851f1f;
}
#ilustration_section1 .iSec1-imageContainer {
    z-index: 1;
    position: absolute;
    left: -15%;
    top: -100px;
    width: 50%;
    min-width: 350px;
    display: flex;
    place-content: center;
}
#ilustration_section1 .iSec1-imageContainer img {
    width: 100%;
}
#ilustration_section1 .iSec1-textContainer {
    z-index: 2;
    text-align: end;
    max-width: 700px;
    min-width: auto;
}
#ilustration_section1 .iSec1-textContainer h1 {
    font-size: 10rem;
    font-family: 'Bigelow Rules', cursive;
    font-weight: 500;
    color: #fefefe;
}
#ilustration_section1 .iSec1-textContainer .iSec1-textPrincipal {
    font-size: 2.2rem;
    font-weight: 300;
    color: #fefefe;
}
#ilustration_section1 .iSec1-textContainer .iSec1-textPromocion {
    font-size: 2.2rem;
    font-weight: 300;
    color: #fefefe;
}
/* ILUSTRACIONES SECION 2 */
#ilustration_section2 .llamas_presentationContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}  
#ilustration_section2 {
    position: relative;
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-color: #fefefe;
    text-align: center;
    padding-bottom: 60px;
}
#ilustration_section2 .iSec2-textContainer {
    padding: 200px 10% 50px;
}
#ilustration_section2 .iSec2-textContainer h1 {
    font-size: 7rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
}
#ilustration_section2 .iSec2-textContainer p {
    font-size: 2.1rem;
    font-weight: 300;
}
.ilustration_iSec2y3 .iSec2y3-gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    grid-auto-flow: dense;
    padding: 30px 10% 20px;
    gap: 20px;
}
.ilustration_iSec2y3 .iSec2y3-gridContainer .iSec2y3-container_img {
    transition: ease .2s;
    cursor: pointer;
}
.ilustration_iSec2y3 .iSec2y3-gridContainer .iSec2y3-container_img:hover {
    z-index: 8;
    transform: scale(1.03);
}
.ilustration_iSec2y3 .iSec2y3-gridContainer .iSec2y3-container_img a {
    width: 100%;
    height: 100%;
}
.ferchanGuitarra {
    background-image: url('/assets/img/ilustraciones/ferchanGuitarra.webp');
    background-size: cover;
    background-position: center;
}
.aplox {
    background-image: url('/assets/img/ilustraciones/AploxJPG.webp');
    background-size: cover;
    background-position: center;
}
.ferchan {
    background-image: url('/assets/img/ilustraciones/FerChanJPG.webp');
    background-size: cover;
    background-position: center;
}
.akshan {
    background-image: url('/assets/img/ilustraciones/AkshanJPG.webp');
    background-size: cover;
}
.anye {
    background-image: url('/assets/img/ilustraciones/AnyeJPG.webp');
    background-size: cover;
}
.gio {
    background-image: url('/assets/img/ilustraciones/Gio.webp');
    background-size: cover;
}
.fidlesticks {
    background-image: url('/assets/img/ilustraciones/fiddlestick.webp');
    background-size: cover;
}
.alucardcueva {
    background-image: url('/assets/img/ilustraciones/alucardcueva2.webp');
    background-size: cover;
}
.viego {
    background-image: url('/assets/img/ilustraciones/Viego.webp');
    background-size: cover;
    background-position: center;
}
.isabella {
    background-image: url('/assets/img/ilustraciones/isabella.webp');
    background-size: cover;
    background-position: center;
}
.alucard {
    background-image: url('/assets/img/ilustraciones/Alucard\ Stardew\ Valey.webp');
    background-size: cover;
}
.vampiro2 {
    background-image: url('/assets/img/ilustraciones/Gotic.webp');
    background-size: cover;
    background-position: center;
}
.sasuke {
    background-image: url('/assets/img/ilustraciones/sasuke.webp');
    background-size: cover;
    background-position: center;
}

/* ILUSTRACIONES SECION 3 */
#ilustration_section3 {
    background-color:  #eee;
    padding-bottom: 60px;
}
#ilustration_section3 .iSec3-textContainer {
    padding: 60px 10% 0;
}
#ilustration_section3 .iSec3-textContainer h1 {
    font-size: 5rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    
}
#ilustration_section3 .iSec3-textContainer p {
    font-size: 2.1rem;
    font-weight: 300;
}
.itachiTrad {
    background-image: url('/assets/img/ilustraciones/itachiTradicional.webp');
    background-size: cover;
    background-position: center;
}
.minatoTrad {
    background-image: url('/assets/img/ilustraciones/minatoTradicional.webp');
    background-size: cover;
    background-position: center;
}
.sasukeTrad {
    background-image: url('/assets/img/ilustraciones/sasukeTradicional.webp');
    background-size: cover;
    background-position: center;
}
.semirealTrad {
    background-image: url('/assets/img/ilustraciones/tradicionalSemiReal.webp');
    background-size: cover;
    background-position: center;
}
.calaveraTrad {
    background-image: url('/assets/img/ilustraciones/calaveraTradicional.webp');
    background-size: cover;
    background-position: center;
}
.kaynTrad {
    background-image: url('/assets/img/ilustraciones/kaynTradicional.webp');
    background-size: cover;
    background-position: center;
}

/* ILUSTRACIONES SECION 4 */
#ilustration_section4 {
    position: relative;
    background-color: rgb(201 194 186);
    padding: 100px 10% 0;
}
#ilustration_section4 .iSec4-textContainer h1 {
    font-size: 5rem;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    text-align: center;
    padding: 70px 0 180px;
}
#ilustration_section4 .iSec4-flexContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
#ilustration_section4 .iSec4-flexContainer .iSec4-container_img {
    width: 180px;
    height: 180px;
    transition: ease .2s;
}
#ilustration_section4 .iSec4-flexContainer .iSec4-container_img:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#ilustration_section4 .iSec4-flexContainer .iSec4-container_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#ilustration_section4 .llamas_presentationContainer {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: -0.13px;
    transform: rotate(180deg);
}

/* ILUSTRACIONES SECION 5 */
#ilustration_section5 {
    width: 100%;
    min-height: 60vh;
    max-height: auto;
    padding: 0 10% ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px 0;
    background-color: #851f1f;
}
#ilustration_section5 h2 {
    color: #fefefe;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Bigelow Rules', cursive;
}
#ilustration_section5 .iSec5-redesContainer img {
    width: 150px;
    transition: ease .5s;
    transition-delay: .3s;
}
#ilustration_section5 .iSec5-redesContainer img:hover {
    transform: rotate(360deg);
}
#ilustration_section5 .iSec5-redesContainer p {
    color: #fefefe;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
/* VIDEOS */
/* VIDEOS SECCION 1 */
#video_section1 {
    width: 100%;
    height: 50vh;
}
.section1_containerFlex {
    width: 100%;
    height: 100%;
    position: relative;
}
.section1_containerFlex video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.section1_containerFlex .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eeab70;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
/* Div de relleno */
.main-videos .tablones {
    width: 100%;
    height:35px;
    background-image: url('/assets/img/tablones.webp');
    background-position: top;
}
/* VIDEOS SECCION 2 */
#video_section2 {
    background-image: url('/assets/img/tricbysPortadaVideos.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.section2_description {
    width: 100%;
    display: flex;
    place-items: top;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 10px 80px;
    gap: 50px;
}
.description_imageContainer {
    background-image: url('/assets/img/fotoAntiguaTricby.png');
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 10px;
}
.section2_description .description_imageContainer img {
    width: 100%;
    border-radius: 10px;
    transition: opacity .5s linear;
}
.section2_description img:hover {
    opacity: 0;
}
.section2_description .subcontainer-iframe {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.section2_description .subcontainer-iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.description_subcontainer h3 {
    background-color: #0e0e0e;
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}
.description_textContainer {
    position: relative;
    height: auto;
}
.description_textContainer p {
    max-width: 1200px;
    min-width: 300px;
    margin: 20px 10px 70px;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
.description_textContainer p a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bolder;
    color: #e98c2f;
    font-family: 'Roboto Mono', monospace;
}
.description_textContainer p a:hover {
    border: 2px solid #e98c2f;
}
.description_textContainer .tricbyM {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 25px); 
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-image: url('/assets/img/cabezaTricby2.webp');
    background-size: cover;
}
.description_textContainer .tricbyM img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.description_textContainer .tricbyM img:hover {
    opacity: 0;
}

/* VIDEOS SECCION 3 */
.section3_pixeles {
    width: 100%;
    height: 150px;
    top: 0px;
    position: absolute;
    background-image: url('/assets/img/tricbysPortadaVideosPixeles.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
.paisaje-container {
    position: relative;
    background-image: url('/assets/img/fondoVideosSecFinal.webp');
    background-size: cover;
    background-attachment: fixed;
} 
.paisaje-container h2 {
    padding: 220px 0 60px;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#video_section3 .section3_videoList {
    position: relative;
    max-width: 100%;
    padding: 50px 30px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    place-content: center;
}
#video_section3 .vSec3-container_iframe {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: linear .2s;
}
#video_section3 .vSec3-container_iframe:hover {
    transform: scale(1.05);
    z-index: 10;
}
#video_section3 .vSec3-container_iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#video_section3 .section3_videoList .vSec3-abeja {
    width: 130px;
    height: 130px;
    background-image: url('/assets/img/abejaMinecraft.webp');
    background-size: cover;
    position: absolute;
    left: calc(50% - 65px); 
    bottom: -120px;
    border-radius: 50%;
    border: 2px solid white;
}

/* VIDEOS SECCION 4 */
#video_section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding: 150px 0 50px;
}
.section4_titleContainer {
    position: absolute;
    top: 0px;
    text-align: center;
}
.section4_titleContainer h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
/* VIDEOS SECCION 4 (texturas y links) */
.section4_textures-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 5%;
}
.section4_textures-container .vSec4-textures {
    margin: 0 15px;
    width: 550px;
    height: 90px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}
.section4_textures-container .vSec4-textures img {
    width: 0px;
    height: 120px;
    flex-grow: 3;
    object-fit: cover;
    filter: grayscale(0);
    transition: .5s ease;
}
.section4_textures-container .vSec4-textures .texturesText {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #5be15400;
    width: 0;
    height: auto;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
    transition-delay: .7s;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.section4_textures-container .vSec4-textures .texturesText .vSec4_textures-button {
    width: auto;
    height: auto;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px 5px;
    border: 2px solid white;
}
.section4_textures-container .vSec4-textures .texturesText .vSec4_textures-button a {
    color: white;
}
.section4_textures-container .vSec4-textures img:hover {
    width: 100%;
    height: 180px;
}
.section4_textures-container .vSec4-textures .texturesText:hover {
    width: 100%;
    background-color: #00000051;
}
.section4_textures-container .stayTrue-texture {
    background-image: url('/assets/img/stayTrueF.webp');
    background-size: cover;
    background-position: center;
}   
.section4_textures-container .betterVanilla-texture {
    background-image: url('/assets/img/betterVanillaF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .dramaticSky-texture {
    background-image: url('/assets/img/dramaticSkyF.webp');
    background-size: cover;
    background-position: top;
    margin-bottom: 15px;
}
.section4_textures-container .sildursEnhanced-texture {
    background-image: url('/assets/img/sildursEnchantedF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .sildursVibrant-texture {
    background-image: url('/assets/img/sildursVibrantF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .bsl-texture {
    background-image: url('/assets/img/bslF.webp');
    background-size: cover;
    background-position: center;
}
#video_section4 #vSec4-textFinal {
    max-width: 1200px;
    font-size: 1.8rem;
    padding: 150px 15px 0;
    color: white;
    text-align: center;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

/* VIDEOS SECCION FINAL */
.videos-sectionFinal {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/portadaFinalVideos.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.vSectionFinal_container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vSectionFinal_container .vFinal-spamYoutube {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vSectionFinal_container .vFinal-spamYoutube p {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}
.vSectionFinal_container .vFinal-spamYoutube a img {
    width: 100px;
    height: 100px;
    transition: ease .5s;
}
.vSectionFinal_container .vFinal-spamYoutube a img:hover {
    transform: rotate(360deg);
    filter: invert(0.4) sepia(1) hue-rotate(-50deg) saturate(1000%);
}

/* WEB */
#web {
    background-color: #086366;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#web .container .cabecera {
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.5);
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5em;
}
#web .container .cabecera .tagline {   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#web .container {
    background-color: cadetblue;
    width: 70%;
    height: auto;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}
#web .container h1{
    font-size: 20px;
}
#web .container .post {
    padding: 1em;
}
#web .container .pieDePagina {
    padding: 2em;
    font-size: 1.2em;
    text-align: center;

    background-color: #086366;
    color: white;
    margin: 0;
    padding: 0.5em;
}

/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: #0e0e0e
    ;
}
footer div {
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
}

