@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ytp-impression-link {
    display: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size:1.6rem;
    font-family: 'Roboto mono', monospace;
    
}
body::-webkit-scrollbar {
    width: 7px;
    background-color: #242424;
}
body::-webkit-scrollbar-thumb {
    background-color:#a8321f;
    border-radius: 5px;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}

/* INDEX */
.home-main {
    background-color: #fff;
    background-image: url('/assets/img/calaveras_blanco.webp');
    display: flex;
    flex-direction: column;
    height: 100%;
}
/* PAGINA PRINCIPAL (INDEX) */
/* .home-main_container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */
.home-main .home-sec {
    height: 100vh;
    /* scroll-snap-align: start; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* INDEX SECCION 1 */
.home-main .home-sec1 {
    display: flex;
    justify-content: center;
    background-image: url('/assets/img/Image1.webp');  
    background-position: bottom;
}
.home-main .home-sec1 .sec1_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-main .home-sec1 .sec1_container div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-main .home-main_title {
    margin: 0;
    font-family: 'Roboto mono', monospace;
    font-size: 5rem;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}
.home-main_img {
    margin-left: 30px;
    width: 70%;
}
.home-main .home-main_text {
    margin: 0;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto mono', monospace;
    font-size: 3rem;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}
.home-main .home-main_button {
    display: inline;
}
.home-main .home-main_button a {
    width: 200px;
    height: 30px;
    margin-top: 40px;
    padding-top: 6px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-family: 'Roboto mono', monospace;
    background-color: #e8a90b;
    color: white;
    transition: transform 300ms;
}
.home-main .home-main_button a:hover {
    background-color: #e8280b;
    transform: scale(1.2);
}

/* INDEX SECCION 2 */
.home-main .home-sec2 {
    background-image: url('/assets/img/Image2.webp');
    background-position: top;
}
.home-main .home-sec2 .home-sec2_grid {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template: repeat(3, 1fr) / repeat(6 , 1fr);
}
.sec2_container-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    justify-self: end;
    margin-right: 10%;
    overflow: hidden;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.sec2_container-img img {
    width: 100%;
}
.sec2_container-text {
    height: 400px;
    width: 300px;
    margin-left: 10%;
    padding: 10px;
    border-radius: 10px;
    grid-row: 2 / 3;
    grid-column: 4  / 6;
    background-color: white;
}
/* INDEX SECCION 3 */
.home-main .home-sec3 {
}

/* ILUTRATION */
.ilustration-main {
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-color: #fff;
}
/* PRESENTATION */
.ilustration_container-presentation {
    background-color: #0e0e0e;
    background-image: url('/assets/img/calaveras_negro.webp');
    width: 100%;
    height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 2fr;
}
.ilustration_container-presentation .presentation_text {
    z-index: 2;
    width: 60%;
    color: #fff;
    text-align: center;
    place-self: center ;
}
.ilustration_container-presentation .presentation_image {
    z-index: 1;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.ilustration_container-presentation img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -5%;
}
/* GALERIA */
.ilustration_container-galery {
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    gap: 10px;
    
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.container_img {
    min-width: 200px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}
.container_img img:hover {
    z-index: 9;
    filter: grayscale(0%);
    transform: scale(1.15);
}
.container_img img {
    filter: grayscale(70%);
    transition: transform 250ms;
    cursor: pointer;
    scroll-snap-align: center;
    width: 100%;
    object-fit: cover;
}

/* GALERIA FINAL */
.ilustration_container-galery-final {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/ilustraciones/fiddlestick.webp');
    background-size: cover;
    background-position:top;
    background-attachment: fixed;
}
/* VIDEOS */
.blogs-main {
    background-image: url('/assets/img/calaveras_negro.webp');
    background-color: #0e0e0e;
}
/* VIDEOS SECCION 1 */
.Main_container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:#fff;
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-position: bottom;
}
.Container_portada {
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/miniatura.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.Container_felx-main {
    max-width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto
}
.felx-main_video iframe {
    width: 560px;
    height: 315px;
    border-radius: 20px;
    margin: 30px 0;
}
.felx-main_ifo {
    padding: 30px;
    color: rgb(0, 0, 0);
}
.felx-main_ifo h2 {
    margin: 5px 0 30px 0;
}
/* VIDEOS SECCION 2 */
.grid-container {
    max-width: 80%;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill,minmax(40rem ,1fr));
}
.blogs_post-container h3 {
    border-bottom:  2px solid #ffffff;
    padding: 20px 0;
    color: white;
    text-align: center;
}
.blogs_post-container .post_container {
    padding: 0 5px;
    margin-top: 60px;
}
.blogs_post-container .post_container p {
    color: white;
    padding: 20px 10px 40px 10px;
}
.blogs_post-container .post_container .container_iframe {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding-top: 56.25%;
}
.blogs_post-container .post_container .container_iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* WEB */
.web-main_container {
    width: 100%;
    height: 84vh;
    display: flex;
    place-content: center;
    place-items: center;
}
.web-main_container h1 {
    font-size: 4rem;
}
/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background-color: #2d2222;
    border-top: 35px solid #ffffff;
}
footer p {
    color: white;
    margin-top: 10px;
    text-align: center;
}

