@media (max-width: 650px) {
    /* VIDEOS */
    .Container_felx-main .felx-main_video {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    .Container_felx-main .felx-main_video iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .Container_felx-main .felx-main_ifo {
        width: 100%;
        height: auto;
    }
    .blogs_post-container .container_iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
}
