
@media (max-width: 680px) {
    /* INDEX sec3 */
    #index_section3 .inSec3_containerCards .inSec3-cards h3 {
        font-size: 2rem;
    }
    /* INDEX SEC 4 title carrusel */
    #index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer h3 {
        font-size: 7rem;
    }
    /* INDEX SEC 4 carrusel selector */
    #index_section4 .inSec4-carrousel .inSec4-cardSelection {
        justify-content: space-around;
        gap: 0px;
    }
    #index_section4 .inSec4-carrousel .inSec4-cardSelection a {
        font-size: 2.4rem;
    }

    /* ILUESTRACIONES sec4 */
    #ilustration_section4 .iSec4-flexContainer .iSec4-container_img {
        width: 100px;
        height: 100px;
    }
    
    /* VIDEOS sec3 */
    #video_section3 .section3_videoList {
        padding: 50px 0;
    }
    .section2_description {
        padding: 30px 0 20px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .description_imageContainer {
        place-self: center;
        margin-bottom: 40px;
    }
    #video_section3 .vSec3-container_iframe, .section2_description .subcontainer-iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }
    /* VIDEOS sec4 */
    .section4_textures-container .vSec4-textures {
        width: 90vw;
        margin: 0;
    }
}
@media (max-width: 900px) {
    /* INDEX SECCION 1 logo principal */
    #index_section1 .section1_container .inSec1-containerlogo .inSec1-containerImg {
        background-image: url('/assets/img/tricbys2.webp');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 320px;
    }
}
@media (min-width: 980px) {
    .ilustration_iSec2y3 .iSec2y3-gridContainer .wide {
        grid-column: span 2;
    }
    .ilustration_iSec2y3 .iSec2y3-gridContainer .tall {
        grid-row: span 2;
    }
    
}

@media (max-width: 1200px) {
    /* INDEX sec3 */
    #index_section3 .inSec3-containerPerfil h1{
        font-size: 6rem;
        text-align: center;
    }
    #index_section3 .inSec3_containerTextSobreMi {
        display: block;
    }
    #index_section3 .inSec3_containerTextSobreMi .inSec3-textRight, #index_section3 .inSec3_containerTextSobreMi .inSec3-textLeft {
        max-width: 100%;
    }

    /* INDEX sec4 */
    #index_section4 .inSec4-carrousel .inSec4-containerCards article {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-imgContainer {
        width: 80vw;
    }
    #index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer {
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 5% 0;
    }
    

    #index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer .inSec4-iconContainer {
        justify-content: space-between;
    }
    /* ILUSTRACIONES */
    .ilustration-main {
        width: 100%;
        float: right;
    }
    .ilustration_portadaContainer {
        background-position: center;
    }
}
