* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bigelow Rules', cursive;
    font-family: 'Grenze Gotisch', cursive;
}
:root {
    --black-background: #141414;
    --black-pure: #000;
    --white: #fefefe;
    --red: #bd2929;
    --red-soft : #861f1f;

    --font-title: 'Bigelow Rules', cursive;
    --font-paragraph: 'Grenze Gotisch', cursive;

    --fontSize-megaTitle: 10rem;
    --fontSize-title: 7rem;
    --fontSize-subTitle: 5rem;
    --fontSize-paragraph: 2.3rem;
}
.ytp-impression-link {
    display: none;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto mono', monospace;
    
}
body::-webkit-scrollbar, 
.container_galery::-webkit-scrollbar {
    width: 6px;
    height: 7px;
    background-color: var(--black-background);
}
body::-webkit-scrollbar-thumb,
.container_galery::-webkit-scrollbar-thumb
{
    background-color: var(--red);
}

a {
    text-decoration: none;
    display: inline;
    color: var(--black-pure);
}

/* INDEX */
.main-index {
    width: 100%;
    background-color: var(--white);
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-attachment: fixed;
}
/* INDEX SECCION 1 */
#index_section1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(91,91,91);
    background-color: var(--black-background);
}
#index_section1 .section1_container {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
}
#index_section1 .section1_container .inSec1-containerlogo {
    display: flex;
    width: 100%;
    padding-left: 40px;
    height: auto;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#index_section1 .section1_container .inSec1-containerlogo .inSec1-containerImg {
    background-image: url('/assets/img/tricbys.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 320px;
}
#index_section1 .section1_container .inSec1-containerButom a {
    width: 300px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: var(--fontSize-subTitle);
    font-family: var(--font-title);
    color: var(--white);
    text-align: center;
    transition: transform .3s;
}
#index_section1 .section1_container .inSec1-containerButom a:hover {
    transform: scale(1.2);
    color: var(--red);
}

/* INDEX SECCION 1 container gost*/
#index_section1 .section1_container-gost {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
}
#index_section1 .section1_container-gost img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    object-fit: cover;
}
#index_section1 .section1_container-gost .layerRigth {
    top: -50px;
    left: -0px;
}

/* INDEX SECCION 2 */
#index_section2 {
    width: 100%;
    height: auto;
    position: relative;
    background-color: var(--white);
}
#index_section2 .inSec2-llamas {
    z-index: 3;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: auto;
}
#index_section2 .inSec2-containerPerfil {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15% 10% 45%;
}
#index_section2 .inSec2-containerPerfil h2 {
    font-size: var(--fontSize-title);
    font-family: var(--font-title);
    text-align: center;
    font-weight: 100;
}
#index_section2 .inSec2-containerPerfil p {
    max-width: 1000px;
    font-size: var(--fontSize-paragraph);
    text-align: center;
    margin: 0 auto;
}
#index_section2 .inSec2-ilustration {
    z-index: 2;
    width: 100%;
    position: absolute;
    bottom: -1px;
}
#index_section2 .inSec2-separator {
    z-index: 2;
    max-width: 1000px;
    width: 80%;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
/* INDEX SECCION 3 */
#index_section3 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--black-background);
    overflow: hidden;
}
#index_section3 .inSec3-containerPerfil {
    z-index: 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60px   ;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 100px 0;
}
#index_section3 .inSec3-containerPerfil .inSec3-fotoPerfil {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 50%;
}
#index_section3 .inSec3-containerPerfil h1{
    z-index: 2;
    font-size: var(--fontSize-megaTitle);
    color: var(--white);
    font-weight: lighter;
    text-align: start;
    font-family: var(--font-title);
    cursor: default;
    
}
#index_section3 .inSec3-containerPerfil .inSec3-profesionText {
    margin-top: -30px;
    font-size: var(--fontSize-title);
    color: var(--white);
}
#index_section3 .inSec3-containerPerfil h1:hover {
    transition: ease .5s;
    color: var(--red);
}
#index_section3 .inSec3_containerTextSobreMi {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 10%;
    gap: 10%;
}
#index_section3 .inSec3_containerTextSobreMi a {
    color: var(--red);
    font-size: var(--fontSize-paragraph);
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantA {
    font-size: var(--fontSize-subTitle);
    font-family: var(--font-title);
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantB {
    font-size: var(--fontSize-subTitle);
    font-family: var(--font-title);
    letter-spacing: 1px;
    transition: ease-in .2s;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-relevantB:hover { 
    color: #35a29e;
}
#index_section3 .inSec3_containerTextSobreMi div {
    margin-bottom: 30px;
}
#index_section3 .inSec3_containerTextSobreMi h2 {
    font-size: var(--fontSize-title);
    font-weight: lighter;
    color: var(--red);
    font-family: var(--font-title);
    transition: ease .5s;
}
#index_section3 .inSec3_containerTextSobreMi h2:hover {
    transform: translate(15px);
}
#index_section3 .inSec3_containerTextSobreMi p {
    font-size: var(--fontSize-paragraph);
    color: var(--white);
    font-weight: 300;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-textLeft{
    text-align: right;
    margin-bottom: 90px;
    max-width: 45%;
}
#index_section3 .inSec3_containerTextSobreMi .inSec3-textRight {
    text-align: left;
    margin-bottom: 90px;
    max-width: 45%;
}

/* INEDEX SECCION 3 cards */
#index_section3 .inSec3_containerCards {
    z-index: 2;
    width: 80vw;
    height: auto;
    position: relative;
    margin: auto auto 25% ;
    overflow: hidden;
}
#index_section3 .inSec3_containerCards .inSec3_cardSlider {
    display: flex;
    align-items: end;
    animation: scroll 40s linear infinite;
    width: calc(200px * 16);
}
#index_section3 .inSec3_containerCards .inSec3_cardSlider .inSec3-cards {
    width: 200px;
    margin: 0 40px;
    color: var(--white);
}
#index_section3 .inSec3_containerCards .inSec3_cardSlider .inSec3-cards img {
    width: 100%;
}
#index_section3 .inSec3_containerCards .inSec3_cardSlider .inSec3-cards h3 {
    font-size: var(--fontSize-paragraph);
    font-family: var(--font-title);
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
    padding: 2px 0px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-200px * 8));
    }
}
#index_section3 .inSec3_onda {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
}
/* INEDEX SECCION 4 */
#index_section4 {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--white);
}
#index_section4  h4 {
    font-size: var(--fontSize-title);
    font-weight: 500;
    font-family: var(--font-title);
    text-align: center;
    padding: 50px 10% 10px;
}
#index_section4 .inSec4-finalText {
    position: relative;
    z-index: 2;
    font-size: var(--fontSize-paragraph);
    text-align: center;
    padding: 0 10% 100px;
}
/* CARRUSEL sec 4 */
#index_section4  .inSec4-carrousel {
    z-index: 2;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 14%;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards {
    display: flex;
    width: 400vw;
    height: auto;
    transition:  0.5s ease-in-out;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article {
    z-index: 2;
    width: 80vw;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 2.5%;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-imgContainer {
    position: relative;
    width: 60%;
    box-shadow: -1px 1px 10px 5px rgba(20,20,20,0.39);
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-imgContainer .imgBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-imgContainer .imgIcon {
    position: absolute;
    width: auto;
    height: 70%;
    bottom: -8%;
    left: -5%;
    border-radius: 10px;
    box-shadow: -1px 1px 10px 5px rgba(20, 20, 20, 0.718);
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2%;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer h3 {
    color: var(--red);
    font-weight: 100;
    font-family: var(--font-title);
    font-size: var(--fontSize-megaTitle);
    margin-bottom: -1.5rem;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer p {
    border-top: 4px solid var(--red);
    color: var(--black-background);
    font-size: 2rem;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer .inSec4-iconContainer {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 40px;
    gap: 40px;
}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer .inSec4-iconContainer a {
    position: relative;
    width: 150px;
    height: auto;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 10px;
    font-family: var(--font-title);
    background-color: var(--black-background);
    color: var(--white);
    transition: ease .2s;

}
#index_section4 .inSec4-carrousel .inSec4-containerCards article .inSec4-textContainer .inSec4-iconContainer a:hover {
    background-color: var(--red);
}

/* SELECCION EN CARUSEL sec 4 */
#index_section4 .inSec4-carrousel .inSec4-cardSelection {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: end;
    gap: 80px;
    padding: 100px 10% 10px;
    margin-bottom: 5px;
}
#index_section4 .inSec4-carrousel .inSec4-cardSelection a {
    color: var(--black-background);
    font-family: var(--font-title);
    font-size: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: ease .3s;
}
#index_section4 .inSec4-carrousel .inSec4-cardSelection a:hover {
    color: var(--red);
    border-bottom: 3px solid var(--red);
    cursor: pointer;
}
#index_section4 .inSec4-carrousel .inSec4-cardSelection .selected {
    color: var(--red);
    transform: scale(1.25);
}
#index_section4 .inSec4-carrousel .inSec4-cardSelection a:not(.selected):hover {
    transform: scale(1.25);
}

#index_section4 .inSec4-llamas2 {
    z-index: 1;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: auto;
    transform: rotate(180deg);
}
/* INDEX SECCION 5 */
#index_section5 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    background-color: var(--black-background);
}
#index_section5  .inSec5-redesContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 100px 0 20px;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes {
    width: 100px;
    height: auto;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a {
    width: 100%;
    height: auto;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a img {
    width: 100%;
    height: auto;
    transition: ease .5s;
    transition-delay: .1s,;
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes a img:hover {
    transform: rotate(360deg);
}
#index_section5  .inSec5-redesContainer .inSec5-individualRedes p {
    text-align: center;
    color: var(--white);
    font-size: var(--fontSize-paragraph);
}
#index_section5 h5 {
    color: var(--red);
    font-size: var(--fontSize-subTitle);
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: var(--font-title);
}
#index_section5 .inSec5-butomCV {
    display: inline-block;
    font-size: 3.5rem;
    font-family: 'Bigelow Rules', cursive;
    padding: 10px 30px;
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px auto 100px;
    transition: ease .2s;
}
#index_section5 .inSec5-butomCV:hover {
    transform: scale(1.1);
    background-color: var(--red);
    color: var(--white);
}

/* ILUTRATION */
.ilustration-main {
    padding-left: 300px;
    overflow: hidden;
    background-image: url('/assets/img/calaveras_blanco.webp');
    background-color: var(--white);
}
.ilustration-main .return-button {
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    bottom: 3%;
    right: 2%;
    overflow: hidden;
    background-color: var(--red);
    transition: linear 250ms;
}
/* ILUSTRACIONES SECCION 1 4 5 */
#ilustration_section1, #ilustration_section4, #ilustration_section5 {
    display: none;
    background-color: var(--red);
}
#ilustration_section1 div, #ilustration_section4 div, #ilustration_section5 div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red);
}
#ilustration_section1 h1, #ilustration_section4 h1, #ilustration_section5 h1 {
    color: var(--white);
    font-family: var(--font-title);
    font-size: var(--fontSize-megaTitle);
    font-weight: lighter;
}
/* ILUSTRACIONES SECCION 2 y 3 */
#ilustration_section3 {
    display: none;
}
#ilustration_section2, #ilustration_section3 {
    position: relative;
    padding-bottom: 100px;
}
#ilustration_section2 .ilSec2-textContainer, #ilustration_section3 .ilSec3-textContainer {
    position: relative;
    z-index: 2;
    padding: 60px 10% 50px;
}
#ilustration_section2 .ilSec2-textContainer h1, #ilustration_section3 .ilSec3-textContainer h1{
    font-size: var(--fontSize-title);
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 2px;
    text-align: center;
}
#ilustration_section2 .ilSec2-textContainer p, #ilustration_section3 .ilSec3-textContainer p {
    margin-top: -15px;
    font-size: var(--fontSize-paragraph);
    font-weight: 500;
    text-align: center;
}
#ilustration_section2 .ilSec2-gridContainer,
#ilustration_section3 .ilSec3-gridContainer {
    z-index: 2;
    position: relative;
    columns: 3 250px;
    column-gap: 10px;
    padding: 0 10% 10%;
}
#ilustration_section2 .ilSec2-gridContainer figure, #ilustration_section3 .ilSec3-gridContainer figure {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
#ilustration_section2 .ilSec2-gridContainer figure img, #ilustration_section3 .ilSec3-gridContainer figure img {
    display: block;
    cursor: pointer;
    max-width: 100%;
    transition: all .2s ease-in-out;
}
#ilustration_section2 .ilSec2-gridContainer figure img:hover, 
#ilustration_section3 .ilSec3-gridContainer figure img:hover {
    z-index: 8;
    transform: scale(1.1);
}
.modal {
    display: none;
    position:  fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.905);  
    z-index: 10;
}

.modal-content {
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}

.close-modal {
    position: absolute;
    right: 3%;
    font-family: var(--font-title);
    font-size: var(--fontSize-megaTitle);
    color: var(--white);
    cursor: pointer;
    z-index: 11;
}
/* ILUSTRACIONES SECCION 6 */
#ilustration_section6 {
    display: none;
}
#ilustration_section6 .ilSec6-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #851f1f;
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer {
    width: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer img {
    width: 120px;
    transition: ease .5s;
    transition-delay: .1s;
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer img:hover {
    transform: rotate(360deg);
}
#ilustration_section6 .ilSec6-container .ilSec6-redesContainer p {
    color: #fefefe;
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}

/* VIDEOS */
/* VIDEOS SECCION 1 */
#video_section1 {
    width: 100%;
    height: 50vh;
}
.section1_containerFlex {
    width: 100%;
    height: 100%;
    position: relative;
}
.section1_containerFlex video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.section1_containerFlex .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #eeab70;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
/* Div de relleno */
.main-videos .tablones {
    width: 100%;
    height:35px;
    background-image: url('/assets/img/tablones.webp');
    background-position: top;
}
/* VIDEOS SECCION 2 */
#video_section2 {
    background-image: url('/assets/img/tricbysPortadaVideos.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.section2_description {
    width: 100%;
    display: flex;
    place-items: top;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 10px 80px;
    gap: 50px;
}
.description_imageContainer {
    background-image: url('/assets/img/fotoAntiguaTricby.png');
    background-size: cover;
    width: 280px;
    height: 280px;
    border-radius: 10px;
}
.section2_description .description_imageContainer img {
    width: 100%;
    border-radius: 10px;
    transition: opacity .5s linear;
}
.section2_description img:hover {
    opacity: 0;
}
.section2_description .subcontainer-iframe {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.section2_description .subcontainer-iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.description_subcontainer h3 {
    background-color: #0e0e0e;
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}
.description_textContainer {
    position: relative;
    height: auto;
}
.description_textContainer p {
    max-width: 1200px;
    min-width: 300px;
    margin: 20px 10px 70px;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
.description_textContainer p a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bolder;
    color: #e98c2f;
    font-family: 'Roboto Mono', monospace;
}
.description_textContainer p a:hover {
    border: 2px solid #e98c2f;
}
.description_textContainer .tricbyM {
    position: absolute;
    bottom: 5px;
    left: calc(50% - 25px); 
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-image: url('/assets/img/cabezaTricby2.webp');
    background-size: cover;
}
.description_textContainer .tricbyM img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.description_textContainer .tricbyM img:hover {
    opacity: 0;
}

/* VIDEOS SECCION 3 */
.section3_pixeles {
    width: 100%;
    height: 150px;
    top: 0px;
    position: absolute;
    background-image: url('/assets/img/tricbysPortadaVideosPixeles.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
.paisaje-container {
    position: relative;
    background-image: url('/assets/img/fondoVideosSecFinal.webp');
    background-size: cover;
    background-attachment: fixed;
} 
.paisaje-container h2 {
    padding: 220px 0 60px;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#video_section3 .section3_videoList {
    position: relative;
    max-width: 100%;
    padding: 50px 30px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    place-content: center;
}
#video_section3 .vSec3-container_iframe {
    width: 445px;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: linear .2s;
}
#video_section3 .vSec3-container_iframe:hover {
    transform: scale(1.05);
    z-index: 10;
}
#video_section3 .vSec3-container_iframe iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#video_section3 .section3_videoList .vSec3-abeja {
    width: 130px;
    height: 130px;
    background-image: url('/assets/img/abejaMinecraft.webp');
    background-size: cover;
    position: absolute;
    left: calc(50% - 65px); 
    bottom: -120px;
    border-radius: 50%;
    border: 2px solid white;
}

/* VIDEOS SECCION 4 */
#video_section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding: 150px 0 50px;
}
.section4_titleContainer {
    position: absolute;
    top: 0px;
    text-align: center;
}
.section4_titleContainer h1 {
    font-size: 3rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
/* VIDEOS SECCION 4 (texturas y links) */
.section4_textures-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 5%;
}
.section4_textures-container .vSec4-textures {
    margin: 0 15px;
    width: 550px;
    height: 90px;
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}
.section4_textures-container .vSec4-textures img {
    width: 0px;
    height: 120px;
    flex-grow: 3;
    object-fit: cover;
    filter: grayscale(0);
    transition: .5s ease;
}
.section4_textures-container .vSec4-textures .texturesText {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #5be15400;
    width: 0;
    height: auto;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
    transition-delay: .7s;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.section4_textures-container .vSec4-textures .texturesText .vSec4_textures-button {
    width: auto;
    height: auto;
    border-radius: 3px;
    margin-top: 10px;
    padding: 5px 5px;
    border: 2px solid white;
}
.section4_textures-container .vSec4-textures .texturesText .vSec4_textures-button a {
    color: white;
}
.section4_textures-container .vSec4-textures img:hover {
    width: 100%;
    height: 180px;
}
.section4_textures-container .vSec4-textures .texturesText:hover {
    width: 100%;
    background-color: #00000051;
}
.section4_textures-container .stayTrue-texture {
    background-image: url('/assets/img/stayTrueF.webp');
    background-size: cover;
    background-position: center;
}   
.section4_textures-container .betterVanilla-texture {
    background-image: url('/assets/img/betterVanillaF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .dramaticSky-texture {
    background-image: url('/assets/img/dramaticSkyF.webp');
    background-size: cover;
    background-position: top;
    margin-bottom: 15px;
}
.section4_textures-container .sildursEnhanced-texture {
    background-image: url('/assets/img/sildursEnchantedF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .sildursVibrant-texture {
    background-image: url('/assets/img/sildursVibrantF.webp');
    background-size: cover;
    background-position: center;
}  
.section4_textures-container .bsl-texture {
    background-image: url('/assets/img/bslF.webp');
    background-size: cover;
    background-position: center;
}
#video_section4 #vSec4-textFinal {
    max-width: 1200px;
    font-size: 1.8rem;
    padding: 150px 15px 0;
    color: white;
    text-align: center;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

/* VIDEOS SECCION FINAL */
.videos-sectionFinal {
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/portadaFinalVideos.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.vSectionFinal_container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.vSectionFinal_container .vFinal-spamYoutube {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vSectionFinal_container .vFinal-spamYoutube p {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace;
}
.vSectionFinal_container .vFinal-spamYoutube a img {
    width: 100px;
    height: 100px;
    transition: ease .5s;
}
.vSectionFinal_container .vFinal-spamYoutube a img:hover {
    transform: rotate(360deg);
    filter: invert(0.4) sepia(1) hue-rotate(-50deg) saturate(1000%);
}

/* WEB */
#web {
    background-color: #086366;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#web .container .cabecera {
    display: flex;
    justify-content: space-between;
    background-color: royalblue;
    box-shadow: 0px 5px 50px 0px rgba(0,0,0,0.5);
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5em;
}
#web .container .cabecera .tagline {   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#web .container {
    background-color: cadetblue;
    width: 70%;
    height: auto;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
}
#web .container h1{
    font-size: 20px;
}
#web .container .post {
    padding: 1em;
}
#web .container .pieDePagina {
    padding: 2em;
    font-size: 1.2em;
    text-align: center;

    background-color: #086366;
    color: white;
    margin: 0;
    padding: 0.5em;
}

/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: #0e0e0e
    ;
}
footer div {
    display: flex;
    place-content: center;
    place-items: center;
    color: white;
}

